build
node_modules
phonegap-app
assets-src/images
assets-src/etc
**/*.tmp
_DISTR
archieve
assets-src/_appicongenerator/
assets-src/_icon.angrymarmot.org/
assets-src/_makeappicon/
assets-src/__ETC/
assets-src/freeicons/
assets-src/proprietary_icons/
