@mixin flexbox() {
  display: -webkit-box;
/*  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;*/
}

@mixin flexbox_important() {
  display: -webkit-box!important;
/*  display: -moz-box!important;
  display: -ms-flexbox!important;
  display: -webkit-flex!important;
  display: flex!important;*/
}

@mixin flex_direction_column() {
  -webkit-box-orient: vertical;
/*  -webkit-flex-direction: column;
  flex-direction: column;*/
}

@mixin flex($values) {
  -webkit-box-flex: $values;
/*  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;*/
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin justify_justify($val) {
  -webkit-box-pack: justify;
  -webkit-justify-content: $val;
  justify-content: $val;
}

@mixin justify($val) {
  -webkit-box-pack: center;
  -webkit-justify-content: $val;
  justify-content: $val;
}
