@mixin main_styles {
  background-color: #eee;
  color: #333;
}

@mixin qualities {
  background-size: cover;
  background-position: center;
  &.gray {
    /*background-color: #a19f95;*/
    background-image: url(../background/cm_bg_0.png);
  }
  &.white {
    /*background-color: #e0d9cc;*/
    background-image: url(../background/cm_bg_1.png);
  }
  &.green {
    /*background-color: #41ae2f;*/
    background-image: url(../background/cm_bg_2.png);
  }
  &.blue {
    /*background-color: #5b8ed9;*/
    background-image: url(../background/cm_bg_3.png);
  }
  &.purple {
    /*background-color: #c07fef;*/
    background-image: url(../background/cm_bg_4.png);
  }
  &.gold {
    /*background-color: #f7ad00;*/
    background-image: url(../background/cm_bg_5.png);
  }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexbox_important() {
  display: -webkit-box!important;
  display: -moz-box!important;
  display: -ms-flexbox!important;
  display: -webkit-flex!important;
  display: flex!important;
}

@mixin flex_direction_column() {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

/* testing old android 4.0 < 4.4 and ios8 */
/*@mixin flexbox() {display: -webkit-box;}
@mixin flexbox_important() {display: -webkit-box!important;}
@mixin flex_direction_column() {-webkit-box-orient: vertical;}
@mixin flex($values) {-webkit-box-flex: $values;}*/


@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin justify_justify($val) {
  -webkit-box-pack: justify;
  -webkit-justify-content: $val;
  justify-content: $val;
}

@mixin justify($val) {
  -webkit-box-pack: center;
  -webkit-justify-content: $val;
  justify-content: $val;
}
