.none-color {
  background-color: #eee;
}

.attack-color {
  /*background-color: rgba(255, 53, 53, 0.4);*/
  background-color: rgba(255, 99, 71, 0.8);
}

.health-color {
  background-color: rgba(37, 255, 33, 0.5);
}

.defense-color {
  background-color: rgba(1, 150, 250, 0.5);
}
