.attack-color {
  background-color: rgba(255, 53, 53, 0.4);
  /*background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 82%);*/
}

.health-color {
  background-color: rgba(37, 255, 33, 0.5);
  /*background: -webkit-linear-gradient(top, #9dd53a 0%,#92d32a 20%,#80c217 76%,#7cbc0a 100%);*/
}

.defense-color {
  background-color: rgba(1, 150, 250, 0.5);
  /*background: -webkit-linear-gradient(top, #499bea 27%,#207ce5 77%,#207ce5 77%,#207ce5 77%);*/
}
