@import "colors";

.glyphicon {
  line-height: 1.42857143;
}

.glyph-btn {
  padding: 5px 10px;
  font-size: 18px;
  /* iphone */
  padding: 4px 8px;
  font-size: 14px;
}

.btn-default {
  background-color: #eee;
  border: 1px solid #aaa;
  outline: none!important;

  &:active {
    -webkit-transform: scale3d(0.9, 0.9, 1);
  }
}

Button#quality {
  width: 64px;
  height: 64px;
  border: 1px solid #aaa;
  padding: 0;

  @include qualities;
}

.tab-settings {
  
}

.tab-crafting {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
}

.tab-statistics {
  padding: 0 5px;
  display: flex;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
}

.nav>li>a {
  outline: none!important;
  color: #9d9d9d;
  border-radius: 0;

  &:active {
    -webkit-transform: scale3d(0.9, 0.9, 1);
  }
}

.nav>li.active>a, .nav>li.active>a:focus, .nav>li.active>a:hover {
  background-color: #222;
}

.nav>li>a, .nav>li>a:focus, .nav>li>a:hover {
  background-color: #222;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #222;

  &:active {
    -webkit-transform: none;
  }
}

.nav-tabs>li>a {
  color: #999;
}
