/* SETTINGS */
.select-language {
  max-width: 200px;
  padding: 15px;
}

/* FILTERS */

#btn-navbar {
  position: absolute;
  overflow: hidden;
  top: 0;
  margin-top: 1px;
  width: 40px;
  padding: 0;
  opacity: 0.2;
  opacity: 1;
  background: none;
  border: none;

  &.active {
    opacity: 1;
    border: 1px solid #aaa;
  }

  &.left {
    left: 0;
    margin-left: 6px;
  }

  &.right {
    right: 0;
    margin-right: 6px;
  }
}

#filter {
  overflow: hidden;
  width: 44px;
  padding: 0;
  opacity: 0.2;

  &.active {
    opacity: 1;
  }

  @media only screen and (min-device-width: 320px) {
    width: 32px;
  }

  @media only screen and (min-device-width: 375px) {
    width: 32px;
  }
}

#toggler {
  width: 44px;
  opacity: 0.3;
  font-size: 12px;
  /*padding: 6px 6px;*/

  &.active {
    opacity: 1;
  }
}

.snap-filter-clear-btn {
  float: right;
  padding: 0;
  line-height: 0.5;
  margin-right: 10px;
  font-size: 30px;
  cursor: pointer;
  background: 0 0;
  border: 0;
  color: #ddd;
  text-shadow: 0 1px 0 #555;
}

.snap-filter-headtext {
  margin-left: 25px
}

#snap-filter-btn {
  width: 100%;
  &.active {
    background-color: #c0f0f9;
  }
}

.hidden-group {
  visibility: hidden;
}
