#btn-navbar {
  position: absolute;
  overflow: hidden;
  top: 0;
  margin-top: 1px;
  width: 40px;
  padding: 0;
  opacity: 1;
  background: none;
  border: none;

  &.active {
    opacity: 1;
    border: 1px solid #aaa;
  }
  &:active {
    border: 1px solid #aaa;
    -webkit-transform: scale3d(0.9, 0.9, 1);
  }

  &.left {
    left: 0;
    margin-left: 6px;
  }

  &.right {
    right: 0;
    margin-right: 6px;
  }
}

.btn-group {
  margin-left: 5px;
}

#filter {
  overflow: hidden;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  opacity: 0.2;

  &.active {
    opacity: 1;

    &:active {
      opacity: 0.2;
    }
  }

  &:active {
    opacity: 1;
  }
}

#toggler {
  width: 44px;
  opacity: 0.3;
  font-size: 12px;

  &.active {
    opacity: 1;
  }
}

.snap-filter-clear-btn {
  position: absolute;
  font-size: 18px;
  padding-top: 1px;
  top: 7px;
  right: 10px;
  background: 0 0;
  border: 0;
  color: #eee;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none;

  &:active {
    -webkit-transform: scale3d(0.9, 0.9, 1);
  }
}

.snap-filter-headtext {
  color: white;
}

#snap-filter-btn {
  width: 100%;
  background-color: #eee;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: left;
  white-space: normal;
  font-weight: bold;

  &:active {
    background-color: #c0f0f9;
    -webkit-transform: none;
  }

  &.active {
    background-color: #c0f0f9;

    &:active {
      background-color: #eee;
    }
  }
}
