/*.sprite { background: url( '../img/spr.png' ) no-repeat;}*/

.sprite.empty {
  width: 100px;
  height: 100px;
  background: none;
  opacity: 0;
}

#img64.sprite {
  zoom: 0.64;
  vertical-align: middle;
}

#img32.sprite {
  zoom: 0.32;
  vertical-align: middle;
}

.sprite.img64 {
  zoom: 0.64;
}

.sprite.img32 {
  zoom: 0.32;
}
