/*.sprite { background: url( '../img/spr.png' ) no-repeat;}*/
.sprite {
  vertical-align: middle;
}

.sprite.empty {
  width: 100px;
  height: 100px;
  background: none;
  opacity: 0;
}

#img71.sprite {
  zoom: 0.71;
}

#img64.sprite {
  zoom: 0.64;
}

#img44.sprite {
  zoom: 0.44;
}

#img32.sprite {
  zoom: 0.32;
}
