.sprite {
  vertical-align: middle;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.sprite.empty {
  width: 100px;
  height: 100px;
  background: none;
  opacity: 0;
}

#img71.sprite {
  zoom: 0.71;
}

#img64.sprite {
  zoom: 0.64;
}

#img44.sprite {
  zoom: 0.44;
}

#img32.sprite {
  zoom: 0.32;
}
