@import "_mixins";
@import "colors";

.hidden-ext {
  visibility: hidden;
  height: 0;
  max-height: 0;
}

.sprite {
  vertical-align: middle;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.set-item.active .sprite {
  &:active {
    -webkit-transform: scale3d(0.9, 0.9, 1);
            transform: scale3d(0.9, 0.9, 1);
  }
}

.icon-img.sprite {
  &:active {
    -webkit-transform: scale3d(0.9, 0.9, 1);
            transform: scale3d(0.9, 0.9, 1);
  }
}

.sprite.empty {
  width: 100px;
  height: 100px;
  background: none;
  padding: 15px 10px;
}

$min-portrait: "only screen and (width: 320px) and (height: 480px) and (orientation: portrait)";
/*$min-portrait: "only screen and (device-width: 320px) and (device-height: 480px) and (orientation: portrait)";*/

$small: "only screen and (max-width: 568px)";
$small-landscape: "only screen and (max-width: 568px) and (orientation: landscape)";
$small-portrait: "only screen and (max-width: 568px) and (orientation: portrait)";

$large: "only screen and (min-width: 768px)";
$large-landscape: "only screen and (min-width: 768px) and (orientation: landscape)";
$large-portrait: "only screen and (min-width: 768px) and (orientation: portrait)";

/*$small: "only screen and (max-device-width: 568px)";
$small-landscape: "only screen and (max-device-width: 568px) and (orientation: landscape)";
$small-portrait: "only screen and (max-device-width: 568px) and (orientation: portrait)";

$large: "only screen and (min-device-width: 768px)";
$large-landscape: "only screen and (min-device-width: 768px) and (orientation: landscape)";
$large-portrait: "only screen and (min-device-width: 768px) and (orientation: portrait)";*/

.crafted-item-box-head #core.sprite {
  @media #{$large-landscape} {
    zoom: 0.80;
  }
}

.crafted-item-box-head #piece.sprite {
  @media #{$large-landscape} {
    zoom: 0.36;
  }
}

#core.sprite {
  zoom: 0.80;
  @media #{$small} {
    zoom: 0.55;
  }
  @media #{$large-landscape} {
    zoom: 0.71;
  }
}

#piece.sprite {
  zoom: 0.36;
  @media #{$small} {
    zoom: 0.24;
  }
  @media #{$large-landscape} {
    zoom: 0.32;
  }
}

.set-item.stats #core.sprite {
  @media #{$small-portrait} {
    zoom: 0.47;
  }
}

.set-item.stats #piece.sprite {
  @media #{$small-portrait} {
    zoom: 0.22;
  }
}

.set-item.stats .sel-item.piece {
  @media #{$small-portrait} {
    margin-left: 1px;
    margin-bottom: 1px;
    /*box-shadow: none;*/
    vertical-align: top;
  }
}

.set-item.stats .sel-item.core {
  @media #{$small-portrait} {
    /*box-shadow: none;*/
  }
}



.tab-statistics {
  padding: 0 5px;
  @include flexbox();
  @include flex_direction_column();
  height: 100%;
  overflow-y: auto;

  @media #{$small-portrait} {
    padding: 0 0;
  }
}

.statistics-controls {
  padding: 5px 10px;
  min-height: 43px;
  height: 43px;
  border-bottom: 1px solid #aaa;

  @media #{$large} {
    min-height: 53px;
    height: 53px;
    margin-bottom: 7px;
  }

  @media #{$min-portrait} {
    padding: 2px 10px;
    min-height: 37px;
    height: 37px;
  }
}

.statistics-main-group {
  @include flexbox();
  @include justify(center);
  overflow-y: scroll;
}

.statistics-set-items {
  @include flexbox();
  @include flex_direction_column();
  margin-right: 2px;
  margin-top: 2px;

  @media #{$large} {
    margin-right: 20px;
  }
}

/*.statistics-left-group {
  @include flexbox();
  margin-top: 5px;
  margin-right: 10px;
  @include flex_direction_column();
  @include justify(flex-start);
  @media #{$small-portrait} {
    margin-top: 3px;
    margin-right: 3px;
  }
}*/

.statistics-right-group {
  width: 60%;
}

.gap {
  display: inline-block;
  margin-left: 15px;
  font-weight: bold;
}

.pieces-box {

}

.crafted-item {
  display: inline-block;
  width: 100%;
}

.sel-item {
  display: inline-block;
  /*height: 100%; wtf?! why so!?!?! */
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  text-align: left;

  @include qualities;
}

.sel-item.piece {
  margin-left: 5px;
}

.sel-item.core {
  float: left;
  text-align: center;
}




#img71.sprite {
  zoom: 0.71;
  @media #{$small} {
    zoom: 0.55;
  }
}

#info-img.sprite {
  zoom: 0.64;
  @media #{$small} {
    zoom: 0.44;
  }
}

#img64.sprite {
  zoom: 0.64;
  margin: auto;
  @media #{$small-landscape} {
    zoom: 0.44;
  }
  @media #{$small-portrait} {
    zoom: 0.32;
  }
}

#img44.sprite {
  zoom: 0.44;
  @media #{$small} {
    zoom: 0.30;
  }
}

#img32.sprite {
  zoom: 0.32;
  @media #{$small} {
    zoom: 0.24;
  }
}

.boost-icon {
  zoom: 0.24;
  @media #{$small-portrait} {
    display: none;
  }
  @media #{$small-landscape} {
    display: none;
  }
}
