@import "_mixins";

/*
  small:
  iPhone 3-4x 480x320
  iPhone   5x 568x320 (1136x640)

  default(medium):
  iPhone   6s 667x375 (1334x750)

  large:
  iPads 1024x768
*/

/* defaults for medium-res devices: */
$header-height: 42px;
$filter-panel-height: 43px;
$crafted-item-box-height: 105px;

$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";

$small: "only screen and (max-width: 568px)";
$small-landscape: "only screen and (max-width: 568px) and (orientation: landscape)";
$small-portrait: "only screen and (max-width: 568px) and (orientation: portrait)";

$large: "only screen and (min-width: 768px)";
$large-landscape: "only screen and (min-width: 768px) and (orientation: landscape)";
$large-portrait: "only screen and (min-width: 768px) and (orientation: portrait)";

/*$small: "only screen and (max-device-width: 568px)";
$small-landscape: "only screen and (max-device-width: 568px) and (orientation: landscape)";
$small-portrait: "only screen and (max-device-width: 568px) and (orientation: portrait)";

$large: "only screen and (min-device-width: 768px)";
$large-landscape: "only screen and (min-device-width: 768px) and (orientation: landscape)";
$large-portrait: "only screen and (min-device-width: 768px) and (orientation: portrait)";*/


body, table {
  font-size: 16px;
  @media #{$small} {
    font-size: 14px;
  }
}

.snap-content.admob,
.snap-drawers.admob {
  bottom: 90px;

  @media #{$small-landscape} {
    bottom: 32px;
  }
  @media #{$small-portrait} {
    bottom: 50px;
  }
}


.loading {
  color: #9d9d9d;
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  @include flexbox();
  @include flex_direction_column();
  @include justify(center);

/* for DEBUG
  background-color: black;
  @media #{$small-landscape} {
    background-color: red;
  }
  @media #{$small-portrait} {
    background-color: blue;
  }
  @media #{$large-landscape} {
    background-color: green;
  }
  @media #{$large-portrait} {
    background-color: yellow;
  }*/
}

tr {
  font-size: 12px;
  @media #{$small-landscape} {
    font-size: 11px;
  }
  @media #{$small-portrait} {
    font-size: 10px;
  }
  @media #{$large-landscape} {
    font-size: 18px;
  }
  @media #{$large-portrait} {
    font-size: 14px;
  }
}

td {
  &.item-name, &.piece-name, &.core-name {
    font-size: 14px;
    @media #{$small} {
      font-size: 12px;
    }
    @media #{$large} {
      font-size: 18px;
    }
  }
  &.sel-boost-name {
    padding-left: 5px;
    @media #{$small} {
      padding-left: 0;
    }
  }
  &.sel-lvl {
    padding-right: 5px;
    @media #{$small} {
      padding: 0 3px;
    }
  }
  &.sel-icon {
    padding: 2px 0;
    padding-left: 5px;
    @media #{$small} {
      padding-left: 2px;
    }
  }
  &.boost-name {
    padding-left: 5px;
    @media #{$small} {
      padding-left: 2px;
    }
  }
  &.game-event {
    @media #{$large} {
      font-size: 16px;
    }
  }
}

thead tr th {
  font-weight: normal;
  font-size: 11px;
  @media #{$small} {
    font-size: 8px;
  }
}

.item-statistics table.summarize tr td {
  font-size: 12px;
  &.sel-boost-name {
    font-size: 14px;
  }
  @media #{$small} {
    font-size: 10px;
    &.sel-boost-name {
      font-size: 12px;
    }
  }
  @media #{$large} {
    font-size: 16px;
    &.sel-boost-name {
      font-size: 18px;
    }
  }
}

table.modal-body-params tr {
  font-size: 14px;
  @media #{$small} {
    font-size: 11px;
  }
}

table.modal-body-params td {
  padding-left: 15px;
  @media #{$small} {
    padding-left: 6px;
  }
}


.nav {
  background-color: #222;
  border-color: #080808;
  @include flexbox();
  @include justify_justify(space-around);
  height: $header-height;
  min-height: $header-height;

  @media #{$small-landscape} {
    font-size: 14px;
  }
  @media #{$small-portrait} {
    font-size: 10px;
    height: 34px;
    min-height: 34px;
    padding: 0 30px;
  }
}

.nav>li>a {
  outline: none!important;
  color: #9d9d9d;
  border-radius: 0;
  padding: 0;
  vertical-align: middle;
  line-height: 40px;

  &:active {
    -webkit-transform: scale3d(0.9, 0.9, 1);
  }

  @media #{$small-portrait} {
    line-height: 32px;
  }
}

.settings-icon > span {
  vertical-align: middle;
  text-align: center;
  top: 0;
  line-height: 40px;
  font-size: 17px;

  @media #{$small-portrait} {
    line-height: 32px;
    font-size: 13px;
  }
}

.tab-statistics {
  @include flexbox();
  @include flex_direction_column();
  position: absolute;
  overflow-y: scroll;
  left: 0;
  right: 0;
  bottom: 0;
  top: $header-height;
  padding: 0 5px;

  @media #{$small-portrait} {
    top: 34px;
    padding: 0 0;
  }
}

#btn-navbar {
  width: 40px;
  @media #{$small-portrait} {
    width: 30px;
  }
}

.snap-filter {
  /*@include flexbox();
  @include flex_direction_column();*/
  height: 100%;
}

.snap-filter-header {
  background-color: #222;
  border-color: #080808;
  text-align: center;
  width: 100%;
  height: $header-height;
  min-height: $header-height;
  padding: 10px;
  @media #{$small-portrait} {
    font-size: 10px;
    font-weight: bold;
    height: 34px;
    min-height: 34px;
  }
}

.snap-filter-clear-btn {
  font-size: 18px;

  @media #{$small-landscape} {
    font-size: 16px;
  }

  @media #{$small-portrait} {
    font-size: 12px;
  }
}

.snap-filter-container {
  /*@include flex(1 1 auto);
  min-height: 0px;*/
  position: absolute;
  overflow-y: auto;
  bottom: 0;
  top: $header-height;

  @media #{$small-portrait} {
    top: 34px;
  }
}

.statistics-set-items .set-item.well {
  @media #{$large-landscape} {
    min-height: 84px;
    height: 84px;
    min-width: 202px;
    width: 202px;
    padding-bottom: 0;
    margin-bottom: 10px;
  }

  @media #{$large-portrait} {
    padding-bottom: 0;
    margin-bottom: 10px;
  }
}

.set-item.well {
  min-height: 95px;
  height: 95px;
  min-width: 212px;
  width: 212px;
  min-width: 223px;
  width: 223px;
  padding: 5px;
  padding-bottom: 4px;
  margin-bottom: 5px;
  border: 1px solid #aaa;
  border-radius: 4px;
  text-align: left;

  @media #{$small} {
    padding: 4px;
    min-height: 68px;
    height: 68px;
    min-width: 160px;
    width: 160px;
  }

  @media #{$large-portrait} {
    min-height: 95px;
    height: 95px;
    min-width: 223px;
    width: 223px;
  }

  &.active {
    background-color: #c0f0f9;
  }

  &.stats {
    @media #{$small-portrait} {
      padding: 1px;
      min-height: 53px;
      height: 53px;
      min-width: 128px;
      width: 128px;
      &.active {
        /*background-color: #11CAEC;*/
        /*border: 1px solid #076879;*/
        border: 1px solid #969696;
        -webkit-transform: scale3d(0.95, 0.95, 1);
        transform: scale3d(0.95, 0.95, 1);
      }
    }
  }
}





.tab-crafting {
  @include flexbox();
  @include justify(center);
  position: absolute;
  overflow-y: scroll;
  left: 0;
  right: 0;
  bottom: 0;
  top: $header-height;
  border: 1px solid;

  @media #{$small-portrait} {
    @include flex_direction_column();
    @include justify(flex-start);
    top: 34px;
  }
}

.crafted-item-box {
  @include flexbox();
  @include flex_direction_column();
  position: relative;
  width: 44%;
  padding: 0;
  padding-bottom: 0;
  text-align: center;

  @media #{$small-portrait} {
    width: 100%;
    /*height: auto;*/
    display: inline-table;
    min-height: 78px;

    /*position: absolute;
    top: 0;*/
  }
}

  .crafted-item-box-head, .set-item-box-head {
    @include flexbox();
    @include justify(center);
    padding: 5px;
    border-bottom: 1px solid #aaa;
    height: $crafted-item-box-height;
    min-height: $crafted-item-box-height;

    @media #{$small} {
      height: 78px;
      min-height: 78px;
      @include justify_justify(space-between);
    }

    @media #{$large} {
      padding: 10px;
      height: 115px;
      min-height: 115px;
      margin-bottom: 10px;
    }
  }

  .crafted-item-btn-group {
    @include flexbox();
    @include flex_direction_column();
    @include justify_justify(space-between);
    height: 95px;
    margin-right: 5px;
    margin-left: 5px;
    width: 32px;

    &.expand {
      @include justify(center);
      display: none;
      @media #{$small-portrait} {
        display: block;
      }
    }

    @media #{$small} {
      height: 68px;
    }
    @media #{$large} {
      width: 42px;
    }
  }

  .summarize-info {
    overflow-y: auto;
    /*min-height: 0px;*/
    /*@include flexbox();*/
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: $crafted-item-box-height;

    .collapsed {
      display: none;
    }

    @media #{$small} {
      padding-right: 1px;
      padding-bottom: 0;
      border-bottom: none;
      top: 78px;
    }
    @media #{$small-portrait} {
      padding-bottom: 10px;
      border-bottom: 1px solid #aaa;
      position: relative;
      top: 0;
    }
    @media #{$landscape} {
      display: block!important;
    }
    @media #{$large} {
      display: block!important;
      top: 115px;
    }
  }


.cores-list-box {
  @include flexbox();
  @include flex_direction_column();
  position: relative;
  width: 56%;
  padding-left: 3px;
  text-align: center;

  @media #{$small-portrait} {
    width: 100%;
    /*height: 100%;*/
    overflow-y: scroll;
    padding-left: 0;
    bottom: 0;

    /*position: absolute;
    top: 78px;*/
  }
}

  .filter-panel {
    @include flexbox();
    @include justify(space-around);
    border-bottom: 1px solid #aaa;
    height: $filter-panel-height;
    min-height: $filter-panel-height;

    @media #{$small-portrait} {
      height: $filter-panel-height;
      min-height: $filter-panel-height;
    }
    @media #{$large-landscape} {
      height: 85px;
      min-height: 85px;
    }
    @media #{$large-portrait} {
      height: 69px;
      min-height: 69px;
    }
  }

    #filter {
      width: 32px;
      margin-top: 5px;
      margin-bottom: 5px;


      @media #{$small} {
        width: 32px;
      }

      @media #{$large-landscape} {
        width: 64px;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      @media #{$large-portrait} {
        width: 48px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

  .scrollable-items-list {
    /*-webkit-flex: 1 1 auto;
    min-height: 0px;*/
    overflow-y: scroll;
    position: absolute;
    bottom: 0;
    top: $filter-panel-height;

    @media #{$large-landscape} {
      top: 85px;
    }
    @media #{$large-portrait} {
      top: 69px;
    }
    @media #{$small-portrait} {
      position: static;
    }
  }


Button#quality {
  width: 66px;
  height: 66px;
  @media #{$small-landscape} {
    width: 46px;
    height: 46px;
  }
  @media #{$small-portrait} {
    width: 34px;
    height: 34px;
    width: 40px;
    height: 40px;
  }
}

.glyph-btn {
  padding: 4px 8px;
  font-size: 14px;

  &.clear-all {
    float: right;
  }

  @media #{$large} {
    font-size: 20px;
    padding: 5px 10px;
  }
}

.glyph-btn.expand {
  display: none;
  @media #{$small-portrait} {
    display: block;
  }
}

.glyph-btn.remove {
  margin: 16px;
  margin-right: 0;
  @media #{$small-landscape} {
    margin: 6px;
    margin-right: 0;
  }
  @media #{$small-portrait} {
    margin: 4px 0;
  }
  @media #{$large} {
    margin: 10px;
    margin-right: 0;
  }
}



#quality-select .modal-dialog {
  margin: 60px auto;
  width: 480px;
  @media #{$small-landscape} {
    width: 400px;
  }
  @media #{$small-portrait} {
    width: 320px;
  }
}

#quality-select .modal-body {
  padding: 15px;
  @media #{$small-portrait} {
    padding: 15px 3px;
  }
}

.modal-body {
  display: block;
  padding-top: 10px;
  @media #{$small-landscape} {
    padding: 3px;
  }
  @media #{$small-portrait} {
    padding: 3px;
  }
}

.modal-body-image {
  /*position: absolute;*/
  float: left;
  margin-left: 0;
  @media #{$small} {
    margin-left: 10px;
  }
}

.modal-body-params {
  /*display: inline-block;*/
  margin-left: 65px;
  @media #{$small} {
    margin-left: 60px;
  }
}

.modal-header .close {
  margin-top: -2px;
  right: 0;
  position: absolute;
  @media #{$large} {
    margin-top: 0px;
  }
  @media #{$small-landscape} {
    margin-top: -4px;
  }
  @media #{$small-portrait} {
    margin-top: -5px;
    font-size: 25px;
  }
}

.modal-title {
  padding: 0 40px;
  font-size: 25px;
  @media #{$small-landscape} {
    font-size: 20px;
  }
  @media #{$small-portrait} {
    font-size: 14px;
  }
}




