/* statusbar height = 25 */
/* header height = 42 */
/* filterpanel height = 55 */
/* filterpanel height = 43 on iphones */

/*
  iPads 1024x768
  iPhone 3-4x 480x320
  iPhone   5x 568x320 (1136x640)
  iPhone   6s 667x375 (1334x750)
*/


$header-height: 42px;
$filter-panel-height: 55px;

@media screen and (min-device-width: 320px) {
  $filter-panel-height: 43px;
}
@media screen and (min-device-width: 375px) {
  $filter-panel-height: 43px;
}
@media screen and (min-device-width: 750px) {
  
}
@media screen and (min-device-width: 768px) {
  
}

.snap-filter {
  display: -webkit-flex;
  flex-direction: column;
  height: 100%;
}

.snap-filter-header {
  background-color: #222;
  border-color: #080808;
  text-align: center;
  width: 100%;
  min-height: $header-height;
  padding: 10px;
}

.snap-filter-container {
  overflow-y: scroll;
  -webkit-flex: 1 1 auto;
  overflow-y: scroll;
  min-height: 0px;
}

.cores-list-box {
  width: 56%;
  display: -webkit-flex;
  flex-direction: column;
}

.btn-group, .btn-group-vertical {
  margin-top: 5px;
  margin-bottom: 5px;
}

.filter-panel {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #aaa;
  height: $filter-panel-height;
}

.scrollable-items-list {
  -webkit-flex: 1 1 auto;
  overflow-y: scroll;
  min-height: 0px;
}



.nav {
  background-color: #222;
  border-color: #080808;
  display: flex;
  justify-content: space-around;
  height: $header-height;
}

