/*
  small:
  iPhone 3-4x 480x320
  iPhone   5x 568x320 (1136x640)

  default(medium):
  iPhone   6s 667x375 (1334x750)

  large:
  iPads 1024x768
*/

/* defaults for medium-res devices: */
$header-height: 42px;
$filter-panel-height: 43px;
$crafted-item-box-height: 105px;

$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";

$small: "only screen and (max-device-width: 568px)";
$small-landscape: "only screen and (max-device-width: 568px) and (orientation: landscape)";
$small-portrait: "only screen and (max-device-width: 568px) and (orientation: portrait)";

/*$small: "only screen and (min-device-width: 320px)";
$small-landscape: "only screen and (min-device-width: 320px) and (orientation: landscape)";
$small-portrait: "only screen and (min-device-width: 320px) and (orientation: portrait)";*/

$large: "only screen and (min-device-width: 768px)";
$large-landscape: "only screen and (min-device-width: 768px) and (orientation: landscape)";
$large-portrait: "only screen and (min-device-width: 768px) and (orientation: portrait)";


body, table {
  font-size: 16px;
  @media #{$small} {
    font-size: 14px;
  }
}

tr {
  font-size: 12px;
  @media #{$small-landscape} {
    font-size: 11px;
  }
  @media #{$small-portrait} {
    font-size: 10px;
  }
  @media #{$large-landscape} {
    font-size: 18px;
  }
  @media #{$large-portrait} {
    font-size: 14px;
  }
}

td {
  &.item-name, &.piece-name, &.core-name {
    font-size: 14px;
    @media #{$small} {
      font-size: 12px;
    }
    @media #{$large} {
      font-size: 18px;
    }
  }
  &.sel-boost-name {
    padding-left: 5px;
    @media #{$small} {
      padding-left: 0;
    }
  }
  &.sel-lvl {
    padding-right: 5px;
    @media #{$small} {
      padding: 0 3px;
    }
  }
  &.sel-icon {
    padding: 2px 0;
    padding-left: 5px;
    @media #{$small} {
      padding-left: 2px;
    }
  }
  &.boost-name {
    padding-left: 5px;
    @media #{$small} {
      padding-left: 2px;
    }
  }
  &.game-event {
    @media #{$large} {
      font-size: 16px;
    }
  }
}

thead tr th {
  font-weight: normal;
  font-size: 11px;
  @media #{$small} {
    font-size: 8px;
  }
}

.item-statistics table.summarize tr td {
  font-size: 12px;
  &.sel-boost-name {
    font-size: 14px;
  }
  @media #{$small} {
    font-size: 10px;
    &.sel-boost-name {
      font-size: 12px;
    }
  }
  @media #{$large} {
    font-size: 16px;
    &.sel-boost-name {
      font-size: 18px;
    }
  }
}

table.modal-body-params tr {
  font-size: 14px;
  @media #{$small} {
    font-size: 11px;
  }
}

table.modal-body-params td {
  padding-left: 15px;
  @media #{$small} {
    padding-left: 6px;
  }
}


.nav {
  background-color: #222;
  border-color: #080808;
  display: flex;
  justify-content: space-around;
  height: $header-height;
  min-height: $header-height;

  @media #{$small-landscape} {
    font-size: 14px;
  }
  @media #{$small-portrait} {
    font-size: 10px;
    height: 34px;
    min-height: 34px;
  }
}

#btn-navbar {
  width: 40px;
  @media #{$small-portrait} {
    width: 30px;
  }
}

.snap-filter {
  display: -webkit-flex;
  flex-direction: column;
  height: 100%;
}

.snap-filter-header {
  background-color: #222;
  border-color: #080808;
  text-align: center;
  width: 100%;
  height: $header-height;
  min-height: $header-height;
  padding: 10px;
  @media #{$small-portrait} {
    font-size: 10px;
    font-weight: bold;
    height: 34px;
    min-height: 34px;
  }
}

.snap-filter-clear-btn {
  font-size: 18px;

  @media #{$small-landscape} {
    font-size: 16px;
  }

  @media #{$small-portrait} {
    font-size: 12px;
  }
}

.snap-filter-container {
  -webkit-flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
}

.statistics-set-items .set-item.well {
  @media #{$large-landscape} {
    min-height: 84px;
    min-width: 202px;
    width: 202px;
    padding-bottom: 0;
    margin-bottom: 10px;
  }

  @media #{$large-portrait} {
    padding-bottom: 0;
    margin-bottom: 10px;
  }
}

.set-item.well {
  min-height: 95px;
  min-width: 212px;
  width: 212px;
  min-width: 223px;
  width: 223px;
  padding: 5px;
  padding-bottom: 4px;
  margin-bottom: 5px;
  border: 1px solid #aaa;
  border-radius: 4px;
  text-align: left;

  @media #{$small} {
    padding: 4px;
    min-height: 68px;
    width: 160px;
    min-width: 160px;
  }

  @media #{$large-portrait} {
    min-height: 95px;
    min-width: 223px;
    width: 223px;
  }

  &.active {
    background-color: #c0f0f9;
  }

  &.stats {
    @media #{$small-portrait} {
      padding: 1px;
      min-height: 50px;
      width: 128px;
      min-width: 128px;
      &.active {
        /*background-color: #11CAEC;*/
        /*border: 1px solid #076879;*/
        border: 1px solid #969696;
        -webkit-transform: scale3d(0.95, 0.95, 1);
        transform: scale3d(0.95, 0.95, 1);
      }
    }
  }
}

.tab-crafting {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow-y: auto;

  @media #{$small-portrait} {
    /*display: block;*/
    flex-direction: column;
  }
}

.crafted-item-box {
  /*padding: 5px;*/
  padding: 0;
  padding-bottom: 0;

  width: 44%;
  display: -webkit-flex;
  flex-direction: column;
  text-align: center;

  @media #{$small-portrait} {
    width: 100%;
    /*min-height: auto;*/
    display: inline-table;
    min-height: 78px;
    height: auto;
  }
}

.crafted-item-box-head, .set-item-box-head {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-bottom: 1px solid #aaa;
  height: $crafted-item-box-height;
  min-height: $crafted-item-box-height;

  @media #{$small} {
    height: 78px;
    min-height: 78px;
    justify-content: space-between;
  }

  @media #{$large} {
    padding: 10px;
    height: 115px;
    min-height: 115px;
    margin-bottom: 10px;
  }
}

.crafted-item-btn-group {
  height: 95px;
  display: flex;
  margin-right: 5px;
  margin-left: 5px;
  flex-direction: column;
  justify-content: space-between;

  &.expand {
    justify-content: center;
  }

  @media #{$small} {
    height: 68px;
  }
}

  .summarize-info {
    overflow-y: auto;
    /*min-height: 0px;*/
    display: flex;

    .collapsed {
      display: none;
    }

    @media #{$small} {
      padding-right: 1px;
      padding-bottom: 0;
      border-bottom: none;
    }
    @media #{$small-portrait} {
      padding-bottom: 10px;
      border-bottom: 1px solid #aaa;
    }
    @media #{$landscape} {
      display: flex!important;
    }
    @media #{$large} {
      display: flex!important;
    }
  }


.cores-list-box {
  width: 56%;
  display: -webkit-flex;
  flex-direction: column;
  padding-left: 3px;
  text-align: center;

  @media #{$small-portrait} {
    width: 100%;
    height: 100%;
    /*overflow: auto;*/
    overflow-y: scroll;
    padding-left: 0;
  }
}

  .filter-panel {
    display: flex;
    /*justify-content: flex-start;*/
    justify-content: space-around;
    border-bottom: 1px solid #aaa;
    height: $filter-panel-height;
    min-height: $filter-panel-height;

    @media #{$small-portrait} {
      /*padding-left: 30px;*/
      height: $filter-panel-height;
      min-height: $filter-panel-height;
    }
    @media #{$large-landscape} {
      height: 85px;
      min-height: 85px;
    }
    @media #{$large-portrait} {
      height: 69px;
      min-height: 69px;
    }
  }

    #filter {
      width: 32px;
      margin-top: 5px;
      margin-bottom: 5px;


      @media #{$small} {
        width: 32px;
      }

      @media #{$large-landscape} {
        width: 64px;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      @media #{$large-portrait} {
        width: 48px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

  .scrollable-items-list {
    -webkit-flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0px;
  }


Button#quality {
  width: 64px;
  height: 64px;
  @media #{$small-landscape} {
    width: 46px;
    height: 46px;
  }
  @media #{$small-portrait} {
    width: 34px;
    height: 34px;
    width: 40px;
    height: 40px;
  }
}

.glyph-btn {
  padding: 4px 8px;
  font-size: 14px;

  &.clear-all {
    float: right;
  }

  @media #{$large} {
    font-size: 20px;
    padding: 5px 10px;
  }
}

.glyph-btn.expand {
  display: none;
  @media #{$small-portrait} {
    display: block;
  }
}

.glyph-btn.remove {
  margin: 16px;
  margin-right: 0;
  @media #{$small-landscape} {
    margin: 6px;
    margin-right: 0;
  }
  @media #{$small-portrait} {
    margin: 4px 0;
  }
  @media #{$large} {
    margin: 10px;
    margin-right: 0;
  }
}



#quality-select .modal-dialog {
  margin: 60px auto;
  width: 480px;
  @media #{$small-landscape} {
    width: 400px;
  }
  @media #{$small-portrait} {
    width: 320px;
  }
}

#quality-select .modal-body {
  padding: 15px;
  @media #{$small-portrait} {
    padding: 15px 3px;
  }
}

.modal-body {
  display: block;
  padding-top: 10px;
  @media #{$small-landscape} {
    padding: 3px;
  }
  @media #{$small-portrait} {
    padding: 3px;
  }
}

.modal-body-image {
  /*position: absolute;*/
  float: left;
  margin-left: 0;
  @media #{$small} {
    margin-left: 10px;
  }
}

.modal-body-params {
  /*display: inline-block;*/
  margin-left: 65px;
  @media #{$small} {
    margin-left: 60px;
  }
}

.modal-header .close {
  margin-top: -2px;
  right: 0;
  position: absolute;
  @media #{$large} {
    margin-top: 0px;
  }
  @media #{$small-landscape} {
    margin-top: -4px;
  }
  @media #{$small-portrait} {
    margin-top: -5px;
    font-size: 25px;
  }
}

.modal-title {
  font-size: 25px;
  @media #{$small-landscape} {
    font-size: 20px;
  }
  @media #{$small-portrait} {
    font-size: 14px;
  }
}




