
.modal-content {
  overflow: hidden;
  background-color: #ddd;
}

.modal-header {
  padding: 5px;
  text-align: center;
  background-color: #ccc;
}

.modal-body {
  display: block;
  padding-top: 10px;
}

.modal-dialog {
  width: auto;
}

.modal-backdrop.in {
  opacity: .8;
}

#quality-select .modal-body {
  padding: 15px;
}

.qualities-group {
  display: flex;
  justify-content: space-around;
}

.qualities-controls {
  /*padding-top: 15px;*/
}

table.modal-body-params {
  background-color: #ddd;
  border: none !important;
  border-collapse: separate;
  margin-left: 0px;
  display: inline-block;
  vertical-align: top;
}

table.modal-body-params tbody {
  border: none !important;
}

table.modal-body-params td {
  text-align: left;
  vertical-align: top;
  line-height: 1.6;
  &.param {
    font-weight: bold;
  }
}

.modal-body-image {
  /*position: absolute;*/
  float: left;
}

.close {
  font-size: 30px;
  margin-right: 20px;
  opacity: 1;
}

.modal-image-background {
  /*display: table;
  background-color: #eee;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);*/
  margin-bottom: 15px;
}

.qualities-body {
  padding: 20px;
}
