
.modal-content {
  overflow: hidden;
  background-color: #ddd;


}

.modal-header {
  padding: 5px;
  text-align: center;
  background-color: #ccc;
}

.modal-title {
  font-size: 25px;
}

.modal-body {
  /*font-size: 25px;*/
}

.modal-body-part {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.modal-body-part p {
  margin: 0;
}

.close {
  font-size: 30px;
  margin-right: 20px;
  opacity: 1;
}

.modal-image-background {
  display: table;
  background-color: #eee;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.qualities-body {
  padding: 20px;
  width: auto;
}

#quality-select .modal-dialog {
  width: auto;
}


#quality-select .modal-body {
  display: flex;
  justify-content: center;
}
