@import "colors";


div.selected-items.well {
  min-height: 88px;
  min-width: 210px;
  padding: 10px;
  padding-bottom: 5px;
  margin-bottom: 0;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.selected-items-box-head {
  display: flex;
}

.selected-items-btn-group {
  height: 95px;
  display: flex;
  margin-right: 5px;
  flex-direction: column;
  justify-content: space-between;
}

.selected-items-box {
  display: inline-block;
  width: 44%;
  padding: 5px;
  min-width: 214px;
}

.selected-items {
  display: inline-block;
  width: 100%;
}


.sel-item {
  display: inline-block;
  height: 100%;
  margin-left: 5px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  text-align: left;

  @include qualities;
}

.sel-item-core {
  display: inline-block;
  float: left;
  height: 100%;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  @include qualities;
}
