@import "colors";

.statistics-set-items {
  display: flex;
  margin-top: 15px;
  margin-right: 5px;
  flex-direction: column;
  justify-content: flex-start;
}

.pieces-box {

}

.set-item.well {
  min-height: 95px;
  min-width: 212px;
  width: 212px;
  padding: 10px;
  padding-bottom: 4px;
  margin-bottom: 5px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.crafted-item-btn-group {
  height: 95px;
  display: flex;
  margin-right: 5px;
  flex-direction: column;
  justify-content: space-between;
}

.crafted-item {
  display: inline-block;
  width: 100%;
}

.sel-item {
  display: inline-block;
  height: 100%;
  margin-left: 5px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  text-align: left;

  @include qualities;
}

.sel-item-core {
  display: inline-block;
  float: left;
  height: 100%;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  @include qualities;
}
