.sprite {
  background: url( '../img/spr.png' ) no-repeat;
  background-size: 2300px 2300px;
}

#img64.sprite {
  zoom: 0.64;
  vertical-align: middle;
}

#img32.sprite {
  zoom: 0.32;
  vertical-align: middle;
}

.sprite.img64 {
  zoom: 0.64;
}

.sprite.img32 {
  zoom: 0.32;
}

.sprite.m1385 {
  width: 100px;
  height: 100px;
  background-position: 0 0;
}

.sprite.m1060 {
  width: 100px;
  height: 100px;
  background-position: -100px 0;
}

.sprite.m1062 {
  width: 100px;
  height: 100px;
  background-position: 0 -100px;
}

.sprite.m1063 {
  width: 100px;
  height: 100px;
  background-position: -100px -100px;
}

.sprite.m1064 {
  width: 100px;
  height: 100px;
  background-position: -200px 0;
}

.sprite.m1065 {
  width: 100px;
  height: 100px;
  background-position: -200px -100px;
}

.sprite.m1066 {
  width: 100px;
  height: 100px;
  background-position: 0 -200px;
}

.sprite.m1067 {
  width: 100px;
  height: 100px;
  background-position: -100px -200px;
}

.sprite.m1068 {
  width: 100px;
  height: 100px;
  background-position: -200px -200px;
}

.sprite.m1069 {
  width: 100px;
  height: 100px;
  background-position: -300px 0;
}

.sprite.m1070 {
  width: 100px;
  height: 100px;
  background-position: -300px -100px;
}

.sprite.m1071 {
  width: 100px;
  height: 100px;
  background-position: -300px -200px;
}

.sprite.m1072 {
  width: 100px;
  height: 100px;
  background-position: 0 -300px;
}

.sprite.m1073 {
  width: 100px;
  height: 100px;
  background-position: -100px -300px;
}

.sprite.m1074 {
  width: 100px;
  height: 100px;
  background-position: -200px -300px;
}

.sprite.m1075 {
  width: 100px;
  height: 100px;
  background-position: -300px -300px;
}

.sprite.m1076 {
  width: 100px;
  height: 100px;
  background-position: -400px 0;
}

.sprite.m1077 {
  width: 100px;
  height: 100px;
  background-position: -400px -100px;
}

.sprite.m1078 {
  width: 100px;
  height: 100px;
  background-position: -400px -200px;
}

.sprite.m1080 {
  width: 100px;
  height: 100px;
  background-position: -400px -300px;
}

.sprite.m1081 {
  width: 100px;
  height: 100px;
  background-position: 0 -400px;
}

.sprite.m1082 {
  width: 100px;
  height: 100px;
  background-position: -100px -400px;
}

.sprite.m1083 {
  width: 100px;
  height: 100px;
  background-position: -200px -400px;
}

.sprite.m1084 {
  width: 100px;
  height: 100px;
  background-position: -300px -400px;
}

.sprite.m1085 {
  width: 100px;
  height: 100px;
  background-position: -400px -400px;
}

.sprite.m1086 {
  width: 100px;
  height: 100px;
  background-position: -500px 0;
}

.sprite.m1087 {
  width: 100px;
  height: 100px;
  background-position: -500px -100px;
}

.sprite.m1088 {
  width: 100px;
  height: 100px;
  background-position: -500px -200px;
}

.sprite.m1089 {
  width: 100px;
  height: 100px;
  background-position: -500px -300px;
}

.sprite.m1090 {
  width: 100px;
  height: 100px;
  background-position: -500px -400px;
}

.sprite.m1091 {
  width: 100px;
  height: 100px;
  background-position: 0 -500px;
}

.sprite.m1092 {
  width: 100px;
  height: 100px;
  background-position: -100px -500px;
}

.sprite.m1093 {
  width: 100px;
  height: 100px;
  background-position: -200px -500px;
}

.sprite.m1094 {
  width: 100px;
  height: 100px;
  background-position: -300px -500px;
}

.sprite.m1095 {
  width: 100px;
  height: 100px;
  background-position: -400px -500px;
}

.sprite.m1096 {
  width: 100px;
  height: 100px;
  background-position: -500px -500px;
}

.sprite.m1097 {
  width: 100px;
  height: 100px;
  background-position: -600px 0;
}

.sprite.m1098 {
  width: 100px;
  height: 100px;
  background-position: -600px -100px;
}

.sprite.m1099 {
  width: 100px;
  height: 100px;
  background-position: -600px -200px;
}

.sprite.m1100 {
  width: 100px;
  height: 100px;
  background-position: -600px -300px;
}

.sprite.m1101 {
  width: 100px;
  height: 100px;
  background-position: -600px -400px;
}

.sprite.m1102 {
  width: 100px;
  height: 100px;
  background-position: -600px -500px;
}

.sprite.m1103 {
  width: 100px;
  height: 100px;
  background-position: 0 -600px;
}

.sprite.m1104 {
  width: 100px;
  height: 100px;
  background-position: -100px -600px;
}

.sprite.m1105 {
  width: 100px;
  height: 100px;
  background-position: -200px -600px;
}

.sprite.m1106 {
  width: 100px;
  height: 100px;
  background-position: -300px -600px;
}

.sprite.m1107 {
  width: 100px;
  height: 100px;
  background-position: -400px -600px;
}

.sprite.m1108 {
  width: 100px;
  height: 100px;
  background-position: -500px -600px;
}

.sprite.m1109 {
  width: 100px;
  height: 100px;
  background-position: -600px -600px;
}

.sprite.m1110 {
  width: 100px;
  height: 100px;
  background-position: -700px 0;
}

.sprite.m1111 {
  width: 100px;
  height: 100px;
  background-position: -700px -100px;
}

.sprite.m1112 {
  width: 100px;
  height: 100px;
  background-position: -700px -200px;
}

.sprite.m1113 {
  width: 100px;
  height: 100px;
  background-position: -700px -300px;
}

.sprite.m1114 {
  width: 100px;
  height: 100px;
  background-position: -700px -400px;
}

.sprite.m1116 {
  width: 100px;
  height: 100px;
  background-position: -700px -500px;
}

.sprite.m1117 {
  width: 100px;
  height: 100px;
  background-position: -700px -600px;
}

.sprite.m1118 {
  width: 100px;
  height: 100px;
  background-position: 0 -700px;
}

.sprite.m1119 {
  width: 100px;
  height: 100px;
  background-position: -100px -700px;
}

.sprite.m1120 {
  width: 100px;
  height: 100px;
  background-position: -200px -700px;
}

.sprite.m1121 {
  width: 100px;
  height: 100px;
  background-position: -300px -700px;
}

.sprite.m1122 {
  width: 100px;
  height: 100px;
  background-position: -400px -700px;
}

.sprite.m1123 {
  width: 100px;
  height: 100px;
  background-position: -500px -700px;
}

.sprite.m1124 {
  width: 100px;
  height: 100px;
  background-position: -600px -700px;
}

.sprite.m1125 {
  width: 100px;
  height: 100px;
  background-position: -700px -700px;
}

.sprite.m1126 {
  width: 100px;
  height: 100px;
  background-position: -800px 0;
}

.sprite.m1127 {
  width: 100px;
  height: 100px;
  background-position: -800px -100px;
}

.sprite.m1128 {
  width: 100px;
  height: 100px;
  background-position: -800px -200px;
}

.sprite.m1129 {
  width: 100px;
  height: 100px;
  background-position: -800px -300px;
}

.sprite.m1131 {
  width: 100px;
  height: 100px;
  background-position: -800px -400px;
}

.sprite.m1132 {
  width: 100px;
  height: 100px;
  background-position: -800px -500px;
}

.sprite.m1133 {
  width: 100px;
  height: 100px;
  background-position: -800px -600px;
}

.sprite.m1134 {
  width: 100px;
  height: 100px;
  background-position: -800px -700px;
}

.sprite.m1135 {
  width: 100px;
  height: 100px;
  background-position: 0 -800px;
}

.sprite.m1136 {
  width: 100px;
  height: 100px;
  background-position: -100px -800px;
}

.sprite.m1137 {
  width: 100px;
  height: 100px;
  background-position: -200px -800px;
}

.sprite.m1138 {
  width: 100px;
  height: 100px;
  background-position: -300px -800px;
}

.sprite.m1139 {
  width: 100px;
  height: 100px;
  background-position: -400px -800px;
}

.sprite.m1140 {
  width: 100px;
  height: 100px;
  background-position: -500px -800px;
}

.sprite.m1141 {
  width: 100px;
  height: 100px;
  background-position: -600px -800px;
}

.sprite.m1142 {
  width: 100px;
  height: 100px;
  background-position: -700px -800px;
}

.sprite.m1143 {
  width: 100px;
  height: 100px;
  background-position: -800px -800px;
}

.sprite.m1144 {
  width: 100px;
  height: 100px;
  background-position: -900px 0;
}

.sprite.m1145 {
  width: 100px;
  height: 100px;
  background-position: -900px -100px;
}

.sprite.m1146 {
  width: 100px;
  height: 100px;
  background-position: -900px -200px;
}

.sprite.m1147 {
  width: 100px;
  height: 100px;
  background-position: -900px -300px;
}

.sprite.m1148 {
  width: 100px;
  height: 100px;
  background-position: -900px -400px;
}

.sprite.m1149 {
  width: 100px;
  height: 100px;
  background-position: -900px -500px;
}

.sprite.m1150 {
  width: 100px;
  height: 100px;
  background-position: -900px -600px;
}

.sprite.m1151 {
  width: 100px;
  height: 100px;
  background-position: -900px -700px;
}

.sprite.m1152 {
  width: 100px;
  height: 100px;
  background-position: -900px -800px;
}

.sprite.m1153 {
  width: 100px;
  height: 100px;
  background-position: 0 -900px;
}

.sprite.m1154 {
  width: 100px;
  height: 100px;
  background-position: -100px -900px;
}

.sprite.m1155 {
  width: 100px;
  height: 100px;
  background-position: -200px -900px;
}

.sprite.m1156 {
  width: 100px;
  height: 100px;
  background-position: -300px -900px;
}

.sprite.m1157 {
  width: 100px;
  height: 100px;
  background-position: -400px -900px;
}

.sprite.m1158 {
  width: 100px;
  height: 100px;
  background-position: -500px -900px;
}

.sprite.m1159 {
  width: 100px;
  height: 100px;
  background-position: -600px -900px;
}

.sprite.m1160 {
  width: 100px;
  height: 100px;
  background-position: -700px -900px;
}

.sprite.m1161 {
  width: 100px;
  height: 100px;
  background-position: -800px -900px;
}

.sprite.m1162 {
  width: 100px;
  height: 100px;
  background-position: -900px -900px;
}

.sprite.m1163 {
  width: 100px;
  height: 100px;
  background-position: -1000px 0;
}

.sprite.m1166 {
  width: 100px;
  height: 100px;
  background-position: -1000px -100px;
}

.sprite.m1167 {
  width: 100px;
  height: 100px;
  background-position: -1000px -200px;
}

.sprite.m1168 {
  width: 100px;
  height: 100px;
  background-position: -1000px -300px;
}

.sprite.m1169 {
  width: 100px;
  height: 100px;
  background-position: -1000px -400px;
}

.sprite.m1170 {
  width: 100px;
  height: 100px;
  background-position: -1000px -500px;
}

.sprite.m1171 {
  width: 100px;
  height: 100px;
  background-position: -1000px -600px;
}

.sprite.m1224 {
  width: 100px;
  height: 100px;
  background-position: -1000px -700px;
}

.sprite.m1225 {
  width: 100px;
  height: 100px;
  background-position: -1000px -800px;
}

.sprite.m1226 {
  width: 100px;
  height: 100px;
  background-position: -1000px -900px;
}

.sprite.m1227 {
  width: 100px;
  height: 100px;
  background-position: 0 -1000px;
}

.sprite.m1228 {
  width: 100px;
  height: 100px;
  background-position: -100px -1000px;
}

.sprite.m1229 {
  width: 100px;
  height: 100px;
  background-position: -200px -1000px;
}

.sprite.m1230 {
  width: 100px;
  height: 100px;
  background-position: -300px -1000px;
}

.sprite.m1231 {
  width: 100px;
  height: 100px;
  background-position: -400px -1000px;
}

.sprite.m1232 {
  width: 100px;
  height: 100px;
  background-position: -500px -1000px;
}

.sprite.m1233 {
  width: 100px;
  height: 100px;
  background-position: -600px -1000px;
}

.sprite.m1234 {
  width: 100px;
  height: 100px;
  background-position: -700px -1000px;
}

.sprite.m1235 {
  width: 100px;
  height: 100px;
  background-position: -800px -1000px;
}

.sprite.m1236 {
  width: 100px;
  height: 100px;
  background-position: -900px -1000px;
}

.sprite.m1237 {
  width: 100px;
  height: 100px;
  background-position: -1000px -1000px;
}

.sprite.m1238 {
  width: 100px;
  height: 100px;
  background-position: -1100px 0;
}

.sprite.m1239 {
  width: 100px;
  height: 100px;
  background-position: -1100px -100px;
}

.sprite.m1240 {
  width: 100px;
  height: 100px;
  background-position: -1100px -200px;
}

.sprite.m1241 {
  width: 100px;
  height: 100px;
  background-position: -1100px -300px;
}

.sprite.m1242 {
  width: 100px;
  height: 100px;
  background-position: -1100px -400px;
}

.sprite.m1243 {
  width: 100px;
  height: 100px;
  background-position: -1100px -500px;
}

.sprite.m1244 {
  width: 100px;
  height: 100px;
  background-position: -1100px -600px;
}

.sprite.m1245 {
  width: 100px;
  height: 100px;
  background-position: -1100px -700px;
}

.sprite.m1246 {
  width: 100px;
  height: 100px;
  background-position: -1100px -800px;
}

.sprite.m1247 {
  width: 100px;
  height: 100px;
  background-position: -1100px -900px;
}

.sprite.m1248 {
  width: 100px;
  height: 100px;
  background-position: -1100px -1000px;
}

.sprite.m1249 {
  width: 100px;
  height: 100px;
  background-position: 0 -1100px;
}

.sprite.m1250 {
  width: 100px;
  height: 100px;
  background-position: -100px -1100px;
}

.sprite.m1251 {
  width: 100px;
  height: 100px;
  background-position: -200px -1100px;
}

.sprite.m1257 {
  width: 100px;
  height: 100px;
  background-position: -300px -1100px;
}

.sprite.m1258 {
  width: 100px;
  height: 100px;
  background-position: -400px -1100px;
}

.sprite.m1259 {
  width: 100px;
  height: 100px;
  background-position: -500px -1100px;
}

.sprite.m1260 {
  width: 100px;
  height: 100px;
  background-position: -600px -1100px;
}

.sprite.m1261 {
  width: 100px;
  height: 100px;
  background-position: -700px -1100px;
}

.sprite.m1262 {
  width: 100px;
  height: 100px;
  background-position: -800px -1100px;
}

.sprite.m1263 {
  width: 100px;
  height: 100px;
  background-position: -900px -1100px;
}

.sprite.m1264 {
  width: 100px;
  height: 100px;
  background-position: -1000px -1100px;
}

.sprite.m1265 {
  width: 100px;
  height: 100px;
  background-position: -1100px -1100px;
}

.sprite.m1266 {
  width: 100px;
  height: 100px;
  background-position: -1200px 0;
}

.sprite.m1267 {
  width: 100px;
  height: 100px;
  background-position: -1200px -100px;
}

.sprite.m1268 {
  width: 100px;
  height: 100px;
  background-position: -1200px -200px;
}

.sprite.m1269 {
  width: 100px;
  height: 100px;
  background-position: -1200px -300px;
}

.sprite.m1270 {
  width: 100px;
  height: 100px;
  background-position: -1200px -400px;
}

.sprite.m1271 {
  width: 100px;
  height: 100px;
  background-position: -1200px -500px;
}

.sprite.m1272 {
  width: 100px;
  height: 100px;
  background-position: -1200px -600px;
}

.sprite.m1273 {
  width: 100px;
  height: 100px;
  background-position: -1200px -700px;
}

.sprite.m1274 {
  width: 100px;
  height: 100px;
  background-position: -1200px -800px;
}

.sprite.m1275 {
  width: 100px;
  height: 100px;
  background-position: -1200px -900px;
}

.sprite.m1276 {
  width: 100px;
  height: 100px;
  background-position: -1200px -1000px;
}

.sprite.m1277 {
  width: 100px;
  height: 100px;
  background-position: -1200px -1100px;
}

.sprite.m1278 {
  width: 100px;
  height: 100px;
  background-position: 0 -1200px;
}

.sprite.m1279 {
  width: 100px;
  height: 100px;
  background-position: -100px -1200px;
}

.sprite.m1281 {
  width: 100px;
  height: 100px;
  background-position: -200px -1200px;
}

.sprite.m1282 {
  width: 100px;
  height: 100px;
  background-position: -300px -1200px;
}

.sprite.m1283 {
  width: 100px;
  height: 100px;
  background-position: -400px -1200px;
}

.sprite.m1284 {
  width: 100px;
  height: 100px;
  background-position: -500px -1200px;
}

.sprite.m1285 {
  width: 100px;
  height: 100px;
  background-position: -600px -1200px;
}

.sprite.m1286 {
  width: 100px;
  height: 100px;
  background-position: -700px -1200px;
}

.sprite.m1287 {
  width: 100px;
  height: 100px;
  background-position: -800px -1200px;
}

.sprite.m1288 {
  width: 100px;
  height: 100px;
  background-position: -900px -1200px;
}

.sprite.m1289 {
  width: 100px;
  height: 100px;
  background-position: -1000px -1200px;
}

.sprite.m1290 {
  width: 100px;
  height: 100px;
  background-position: -1100px -1200px;
}

.sprite.m1291 {
  width: 100px;
  height: 100px;
  background-position: -1200px -1200px;
}

.sprite.m1292 {
  width: 100px;
  height: 100px;
  background-position: -1300px 0;
}

.sprite.m1293 {
  width: 100px;
  height: 100px;
  background-position: -1300px -100px;
}

.sprite.m1294 {
  width: 100px;
  height: 100px;
  background-position: -1300px -200px;
}

.sprite.m1295 {
  width: 100px;
  height: 100px;
  background-position: -1300px -300px;
}

.sprite.m1296 {
  width: 100px;
  height: 100px;
  background-position: -1300px -400px;
}

.sprite.m1297 {
  width: 100px;
  height: 100px;
  background-position: -1300px -500px;
}

.sprite.m1298 {
  width: 100px;
  height: 100px;
  background-position: -1300px -600px;
}

.sprite.m1299 {
  width: 100px;
  height: 100px;
  background-position: -1300px -700px;
}

.sprite.m1300 {
  width: 100px;
  height: 100px;
  background-position: -1300px -800px;
}

.sprite.m1301 {
  width: 100px;
  height: 100px;
  background-position: -1300px -900px;
}

.sprite.m1302 {
  width: 100px;
  height: 100px;
  background-position: -1300px -1000px;
}

.sprite.m1303 {
  width: 100px;
  height: 100px;
  background-position: -1300px -1100px;
}

.sprite.m1304 {
  width: 100px;
  height: 100px;
  background-position: -1300px -1200px;
}

.sprite.m1305 {
  width: 100px;
  height: 100px;
  background-position: 0 -1300px;
}

.sprite.m1306 {
  width: 100px;
  height: 100px;
  background-position: -100px -1300px;
}

.sprite.m1307 {
  width: 100px;
  height: 100px;
  background-position: -200px -1300px;
}

.sprite.m1308 {
  width: 100px;
  height: 100px;
  background-position: -300px -1300px;
}

.sprite.m1309 {
  width: 100px;
  height: 100px;
  background-position: -400px -1300px;
}

.sprite.m1310 {
  width: 100px;
  height: 100px;
  background-position: -500px -1300px;
}

.sprite.m1311 {
  width: 100px;
  height: 100px;
  background-position: -600px -1300px;
}

.sprite.m1312 {
  width: 100px;
  height: 100px;
  background-position: -700px -1300px;
}

.sprite.m1313 {
  width: 100px;
  height: 100px;
  background-position: -800px -1300px;
}

.sprite.m1314 {
  width: 100px;
  height: 100px;
  background-position: -900px -1300px;
}

.sprite.m1315 {
  width: 100px;
  height: 100px;
  background-position: -1000px -1300px;
}

.sprite.m1316 {
  width: 100px;
  height: 100px;
  background-position: -1100px -1300px;
}

.sprite.m1317 {
  width: 100px;
  height: 100px;
  background-position: -1200px -1300px;
}

.sprite.m1318 {
  width: 100px;
  height: 100px;
  background-position: -1300px -1300px;
}

.sprite.m1319 {
  width: 100px;
  height: 100px;
  background-position: -1400px 0;
}

.sprite.m1320 {
  width: 100px;
  height: 100px;
  background-position: -1400px -100px;
}

.sprite.m1321 {
  width: 100px;
  height: 100px;
  background-position: -1400px -200px;
}

.sprite.m1322 {
  width: 100px;
  height: 100px;
  background-position: -1400px -300px;
}

.sprite.m1323 {
  width: 100px;
  height: 100px;
  background-position: -1400px -400px;
}

.sprite.m1324 {
  width: 100px;
  height: 100px;
  background-position: -1400px -500px;
}

.sprite.m1325 {
  width: 100px;
  height: 100px;
  background-position: -1400px -600px;
}

.sprite.m1326 {
  width: 100px;
  height: 100px;
  background-position: -1400px -700px;
}

.sprite.m1327 {
  width: 100px;
  height: 100px;
  background-position: -1400px -800px;
}

.sprite.m1328 {
  width: 100px;
  height: 100px;
  background-position: -1400px -900px;
}

.sprite.m1329 {
  width: 100px;
  height: 100px;
  background-position: -1400px -1000px;
}

.sprite.m1335 {
  width: 100px;
  height: 100px;
  background-position: -1400px -1100px;
}

.sprite.m1336 {
  width: 100px;
  height: 100px;
  background-position: -1400px -1200px;
}

.sprite.m1337 {
  width: 100px;
  height: 100px;
  background-position: -1400px -1300px;
}

.sprite.m1338 {
  width: 100px;
  height: 100px;
  background-position: 0 -1400px;
}

.sprite.m1339 {
  width: 100px;
  height: 100px;
  background-position: -100px -1400px;
}

.sprite.m1340 {
  width: 100px;
  height: 100px;
  background-position: -200px -1400px;
}

.sprite.m1341 {
  width: 100px;
  height: 100px;
  background-position: -300px -1400px;
}

.sprite.m1342 {
  width: 100px;
  height: 100px;
  background-position: -400px -1400px;
}

.sprite.m1344 {
  width: 100px;
  height: 100px;
  background-position: -500px -1400px;
}

.sprite.m1345 {
  width: 100px;
  height: 100px;
  background-position: -600px -1400px;
}

.sprite.m1346 {
  width: 100px;
  height: 100px;
  background-position: -700px -1400px;
}

.sprite.m1347 {
  width: 100px;
  height: 100px;
  background-position: -800px -1400px;
}

.sprite.m1348 {
  width: 100px;
  height: 100px;
  background-position: -900px -1400px;
}

.sprite.m1349 {
  width: 100px;
  height: 100px;
  background-position: -1000px -1400px;
}

.sprite.m1350 {
  width: 100px;
  height: 100px;
  background-position: -1100px -1400px;
}

.sprite.m1351 {
  width: 100px;
  height: 100px;
  background-position: -1200px -1400px;
}

.sprite.m1352 {
  width: 100px;
  height: 100px;
  background-position: -1300px -1400px;
}

.sprite.m1353 {
  width: 100px;
  height: 100px;
  background-position: -1400px -1400px;
}

.sprite.m1354 {
  width: 100px;
  height: 100px;
  background-position: -1500px 0;
}

.sprite.m1355 {
  width: 100px;
  height: 100px;
  background-position: -1500px -100px;
}

.sprite.m1356 {
  width: 100px;
  height: 100px;
  background-position: -1500px -200px;
}

.sprite.m1357 {
  width: 100px;
  height: 100px;
  background-position: -1500px -300px;
}

.sprite.m1358 {
  width: 100px;
  height: 100px;
  background-position: -1500px -400px;
}

.sprite.m1359 {
  width: 100px;
  height: 100px;
  background-position: -1500px -500px;
}

.sprite.m1360 {
  width: 100px;
  height: 100px;
  background-position: -1500px -600px;
}

.sprite.m1361 {
  width: 100px;
  height: 100px;
  background-position: -1500px -700px;
}

.sprite.m1362 {
  width: 100px;
  height: 100px;
  background-position: -1500px -800px;
}

.sprite.m1363 {
  width: 100px;
  height: 100px;
  background-position: -1500px -900px;
}

.sprite.m1364 {
  width: 100px;
  height: 100px;
  background-position: -1500px -1000px;
}

.sprite.m1365 {
  width: 100px;
  height: 100px;
  background-position: -1500px -1100px;
}

.sprite.m1366 {
  width: 100px;
  height: 100px;
  background-position: -1500px -1200px;
}

.sprite.m1367 {
  width: 100px;
  height: 100px;
  background-position: -1500px -1300px;
}

.sprite.m1368 {
  width: 100px;
  height: 100px;
  background-position: -1500px -1400px;
}

.sprite.m1369 {
  width: 100px;
  height: 100px;
  background-position: 0 -1500px;
}

.sprite.m1370 {
  width: 100px;
  height: 100px;
  background-position: -100px -1500px;
}

.sprite.m1371 {
  width: 100px;
  height: 100px;
  background-position: -200px -1500px;
}

.sprite.m1372 {
  width: 100px;
  height: 100px;
  background-position: -300px -1500px;
}

.sprite.m1373 {
  width: 100px;
  height: 100px;
  background-position: -400px -1500px;
}

.sprite.m1374 {
  width: 100px;
  height: 100px;
  background-position: -500px -1500px;
}

.sprite.m1375 {
  width: 100px;
  height: 100px;
  background-position: -600px -1500px;
}

.sprite.m1376 {
  width: 100px;
  height: 100px;
  background-position: -700px -1500px;
}

.sprite.m1377 {
  width: 100px;
  height: 100px;
  background-position: -800px -1500px;
}

.sprite.m1378 {
  width: 100px;
  height: 100px;
  background-position: -900px -1500px;
}

.sprite.m1379 {
  width: 100px;
  height: 100px;
  background-position: -1000px -1500px;
}

.sprite.m1380 {
  width: 100px;
  height: 100px;
  background-position: -1100px -1500px;
}

.sprite.m1381 {
  width: 100px;
  height: 100px;
  background-position: -1200px -1500px;
}

.sprite.m1382 {
  width: 100px;
  height: 100px;
  background-position: -1300px -1500px;
}

.sprite.m1383 {
  width: 100px;
  height: 100px;
  background-position: -1400px -1500px;
}

.sprite.m1061 {
  width: 100px;
  height: 100px;
  background-position: -1500px -1500px;
}

.sprite.m1386 {
  width: 100px;
  height: 100px;
  background-position: -1600px 0;
}

.sprite.m1387 {
  width: 100px;
  height: 100px;
  background-position: -1600px -100px;
}

.sprite.m1388 {
  width: 100px;
  height: 100px;
  background-position: -1600px -200px;
}

.sprite.m1389 {
  width: 100px;
  height: 100px;
  background-position: -1600px -300px;
}

.sprite.m1390 {
  width: 100px;
  height: 100px;
  background-position: -1600px -400px;
}

.sprite.m1391 {
  width: 100px;
  height: 100px;
  background-position: -1600px -500px;
}

.sprite.m1392 {
  width: 100px;
  height: 100px;
  background-position: -1600px -600px;
}

.sprite.m1393 {
  width: 100px;
  height: 100px;
  background-position: -1600px -700px;
}

.sprite.m1394 {
  width: 100px;
  height: 100px;
  background-position: -1600px -800px;
}

.sprite.m1395 {
  width: 100px;
  height: 100px;
  background-position: -1600px -900px;
}

.sprite.m1396 {
  width: 100px;
  height: 100px;
  background-position: -1600px -1000px;
}

.sprite.m1397 {
  width: 100px;
  height: 100px;
  background-position: -1600px -1100px;
}

.sprite.m1398 {
  width: 100px;
  height: 100px;
  background-position: -1600px -1200px;
}

.sprite.m1399 {
  width: 100px;
  height: 100px;
  background-position: -1600px -1300px;
}

.sprite.m1400 {
  width: 100px;
  height: 100px;
  background-position: -1600px -1400px;
}

.sprite.m1401 {
  width: 100px;
  height: 100px;
  background-position: -1600px -1500px;
}

.sprite.m1402 {
  width: 100px;
  height: 100px;
  background-position: 0 -1600px;
}

.sprite.m1403 {
  width: 100px;
  height: 100px;
  background-position: -100px -1600px;
}

.sprite.m1422 {
  width: 100px;
  height: 100px;
  background-position: -200px -1600px;
}

.sprite.m1424 {
  width: 100px;
  height: 100px;
  background-position: -300px -1600px;
}

.sprite.m1425 {
  width: 100px;
  height: 100px;
  background-position: -400px -1600px;
}

.sprite.m1426 {
  width: 100px;
  height: 100px;
  background-position: -500px -1600px;
}

.sprite.m1457 {
  width: 100px;
  height: 100px;
  background-position: -600px -1600px;
}

.sprite.m1458 {
  width: 100px;
  height: 100px;
  background-position: -700px -1600px;
}

.sprite.m1459 {
  width: 100px;
  height: 100px;
  background-position: -800px -1600px;
}

.sprite.m1474 {
  width: 100px;
  height: 100px;
  background-position: -900px -1600px;
}

.sprite.m1475 {
  width: 100px;
  height: 100px;
  background-position: -1000px -1600px;
}

.sprite.m1476 {
  width: 100px;
  height: 100px;
  background-position: -1100px -1600px;
}

.sprite.m1500 {
  width: 100px;
  height: 100px;
  background-position: -1200px -1600px;
}

.sprite.m1501 {
  width: 100px;
  height: 100px;
  background-position: -1300px -1600px;
}

.sprite.m1502 {
  width: 100px;
  height: 100px;
  background-position: -1400px -1600px;
}

.sprite.m1503 {
  width: 100px;
  height: 100px;
  background-position: -1500px -1600px;
}

.sprite.m1504 {
  width: 100px;
  height: 100px;
  background-position: -1600px -1600px;
}

.sprite.m1505 {
  width: 100px;
  height: 100px;
  background-position: -1700px 0;
}

.sprite.m1506 {
  width: 100px;
  height: 100px;
  background-position: -1700px -100px;
}

.sprite.m1515 {
  width: 100px;
  height: 100px;
  background-position: -1700px -200px;
}

.sprite.m1516 {
  width: 100px;
  height: 100px;
  background-position: -1700px -300px;
}

.sprite.m1517 {
  width: 100px;
  height: 100px;
  background-position: -1700px -400px;
}

.sprite.m1518 {
  width: 100px;
  height: 100px;
  background-position: -1700px -500px;
}

.sprite.m1519 {
  width: 100px;
  height: 100px;
  background-position: -1700px -600px;
}

.sprite.m1520 {
  width: 100px;
  height: 100px;
  background-position: -1700px -700px;
}

.sprite.m1521 {
  width: 100px;
  height: 100px;
  background-position: -1700px -800px;
}

.sprite.m1522 {
  width: 100px;
  height: 100px;
  background-position: -1700px -900px;
}

.sprite.m1523 {
  width: 100px;
  height: 100px;
  background-position: -1700px -1000px;
}

.sprite.m1524 {
  width: 100px;
  height: 100px;
  background-position: -1700px -1100px;
}

.sprite.m1525 {
  width: 100px;
  height: 100px;
  background-position: -1700px -1200px;
}

.sprite.m1526 {
  width: 100px;
  height: 100px;
  background-position: -1700px -1300px;
}

.sprite.m1527 {
  width: 100px;
  height: 100px;
  background-position: -1700px -1400px;
}

.sprite.m1528 {
  width: 100px;
  height: 100px;
  background-position: -1700px -1500px;
}

.sprite.m1529 {
  width: 100px;
  height: 100px;
  background-position: -1700px -1600px;
}

.sprite.m1530 {
  width: 100px;
  height: 100px;
  background-position: 0 -1700px;
}

.sprite.m1531 {
  width: 100px;
  height: 100px;
  background-position: -100px -1700px;
}

.sprite.m1532 {
  width: 100px;
  height: 100px;
  background-position: -200px -1700px;
}

.sprite.m1533 {
  width: 100px;
  height: 100px;
  background-position: -300px -1700px;
}

.sprite.m1534 {
  width: 100px;
  height: 100px;
  background-position: -400px -1700px;
}

.sprite.m1535 {
  width: 100px;
  height: 100px;
  background-position: -500px -1700px;
}

.sprite.m1536 {
  width: 100px;
  height: 100px;
  background-position: -600px -1700px;
}

.sprite.m1538 {
  width: 100px;
  height: 100px;
  background-position: -700px -1700px;
}

.sprite.m1539 {
  width: 100px;
  height: 100px;
  background-position: -800px -1700px;
}

.sprite.m1553 {
  width: 100px;
  height: 100px;
  background-position: -900px -1700px;
}

.sprite.m1554 {
  width: 100px;
  height: 100px;
  background-position: -1000px -1700px;
}

.sprite.m1555 {
  width: 100px;
  height: 100px;
  background-position: -1100px -1700px;
}

.sprite.m1556 {
  width: 100px;
  height: 100px;
  background-position: -1200px -1700px;
}

.sprite.m1558 {
  width: 100px;
  height: 100px;
  background-position: -1300px -1700px;
}

.sprite.m1559 {
  width: 100px;
  height: 100px;
  background-position: -1400px -1700px;
}

.sprite.m1560 {
  width: 100px;
  height: 100px;
  background-position: -1500px -1700px;
}

.sprite.m1561 {
  width: 100px;
  height: 100px;
  background-position: -1600px -1700px;
}

.sprite.m1562 {
  width: 100px;
  height: 100px;
  background-position: -1700px -1700px;
}

.sprite.m1567 {
  width: 100px;
  height: 100px;
  background-position: -1800px 0;
}

.sprite.m1568 {
  width: 100px;
  height: 100px;
  background-position: -1800px -100px;
}

.sprite.m1582 {
  width: 100px;
  height: 100px;
  background-position: -1800px -200px;
}

.sprite.m1583 {
  width: 100px;
  height: 100px;
  background-position: -1800px -300px;
}

.sprite.m1601 {
  width: 100px;
  height: 100px;
  background-position: -1800px -400px;
}

.sprite.m1602 {
  width: 100px;
  height: 100px;
  background-position: -1800px -500px;
}

.sprite.m1604 {
  width: 100px;
  height: 100px;
  background-position: -1800px -600px;
}

.sprite.m1605 {
  width: 100px;
  height: 100px;
  background-position: -1800px -700px;
}

.sprite.m1606 {
  width: 100px;
  height: 100px;
  background-position: -1800px -800px;
}

.sprite.m1607 {
  width: 100px;
  height: 100px;
  background-position: -1800px -900px;
}

.sprite.m1608 {
  width: 100px;
  height: 100px;
  background-position: -1800px -1000px;
}

.sprite.m1609 {
  width: 100px;
  height: 100px;
  background-position: -1800px -1100px;
}

.sprite.m1610 {
  width: 100px;
  height: 100px;
  background-position: -1800px -1200px;
}

.sprite.m1611 {
  width: 100px;
  height: 100px;
  background-position: -1800px -1300px;
}

.sprite.m1612 {
  width: 100px;
  height: 100px;
  background-position: -1800px -1400px;
}

.sprite.m1613 {
  width: 100px;
  height: 100px;
  background-position: -1800px -1500px;
}

.sprite.m1614 {
  width: 100px;
  height: 100px;
  background-position: -1800px -1600px;
}

.sprite.m1615 {
  width: 100px;
  height: 100px;
  background-position: -1800px -1700px;
}

.sprite.m1616 {
  width: 100px;
  height: 100px;
  background-position: 0 -1800px;
}

.sprite.m1628 {
  width: 100px;
  height: 100px;
  background-position: -100px -1800px;
}

.sprite.m1629 {
  width: 100px;
  height: 100px;
  background-position: -200px -1800px;
}

.sprite.m1630 {
  width: 100px;
  height: 100px;
  background-position: -300px -1800px;
}

.sprite.m1631 {
  width: 100px;
  height: 100px;
  background-position: -400px -1800px;
}

.sprite.m1632 {
  width: 100px;
  height: 100px;
  background-position: -500px -1800px;
}

.sprite.m1633 {
  width: 100px;
  height: 100px;
  background-position: -600px -1800px;
}

.sprite.m1634 {
  width: 100px;
  height: 100px;
  background-position: -700px -1800px;
}

.sprite.m1637 {
  width: 100px;
  height: 100px;
  background-position: -800px -1800px;
}

.sprite.m1639 {
  width: 100px;
  height: 100px;
  background-position: -900px -1800px;
}

.sprite.m1640 {
  width: 100px;
  height: 100px;
  background-position: -1000px -1800px;
}

.sprite.m1641 {
  width: 100px;
  height: 100px;
  background-position: -1100px -1800px;
}

.sprite.m1642 {
  width: 100px;
  height: 100px;
  background-position: -1200px -1800px;
}

.sprite.m1643 {
  width: 100px;
  height: 100px;
  background-position: -1300px -1800px;
}

.sprite.m1644 {
  width: 100px;
  height: 100px;
  background-position: -1400px -1800px;
}

.sprite.m1651 {
  width: 100px;
  height: 100px;
  background-position: -1500px -1800px;
}

.sprite.m1652 {
  width: 100px;
  height: 100px;
  background-position: -1600px -1800px;
}

.sprite.m1697 {
  width: 100px;
  height: 100px;
  background-position: -1700px -1800px;
}

.sprite.m1698 {
  width: 100px;
  height: 100px;
  background-position: -1800px -1800px;
}

.sprite.m1699 {
  width: 100px;
  height: 100px;
  background-position: -1900px 0;
}

.sprite.m1700 {
  width: 100px;
  height: 100px;
  background-position: -1900px -100px;
}

.sprite.m1701 {
  width: 100px;
  height: 100px;
  background-position: -1900px -200px;
}

.sprite.m1702 {
  width: 100px;
  height: 100px;
  background-position: -1900px -300px;
}

.sprite.m1703 {
  width: 100px;
  height: 100px;
  background-position: -1900px -400px;
}

.sprite.m1705 {
  width: 100px;
  height: 100px;
  background-position: -1900px -500px;
}

.sprite.m1706 {
  width: 100px;
  height: 100px;
  background-position: -1900px -600px;
}

.sprite.m1707 {
  width: 100px;
  height: 100px;
  background-position: -1900px -700px;
}

.sprite.m1708 {
  width: 100px;
  height: 100px;
  background-position: -1900px -800px;
}

.sprite.m1709 {
  width: 100px;
  height: 100px;
  background-position: -1900px -900px;
}

.sprite.m1710 {
  width: 100px;
  height: 100px;
  background-position: -1900px -1000px;
}

.sprite.m1711 {
  width: 100px;
  height: 100px;
  background-position: -1900px -1100px;
}

.sprite.m1712 {
  width: 100px;
  height: 100px;
  background-position: -1900px -1200px;
}

.sprite.m1713 {
  width: 100px;
  height: 100px;
  background-position: -1900px -1300px;
}

.sprite.m1714 {
  width: 100px;
  height: 100px;
  background-position: -1900px -1400px;
}

.sprite.m1715 {
  width: 100px;
  height: 100px;
  background-position: -1900px -1500px;
}

.sprite.m1716 {
  width: 100px;
  height: 100px;
  background-position: -1900px -1600px;
}

.sprite.m1717 {
  width: 100px;
  height: 100px;
  background-position: -1900px -1700px;
}

.sprite.m1718 {
  width: 100px;
  height: 100px;
  background-position: -1900px -1800px;
}

.sprite.m1719 {
  width: 100px;
  height: 100px;
  background-position: 0 -1900px;
}

.sprite.m1720 {
  width: 100px;
  height: 100px;
  background-position: -100px -1900px;
}

.sprite.m1721 {
  width: 100px;
  height: 100px;
  background-position: -200px -1900px;
}

.sprite.m1722 {
  width: 100px;
  height: 100px;
  background-position: -300px -1900px;
}

.sprite.m1723 {
  width: 100px;
  height: 100px;
  background-position: -400px -1900px;
}

.sprite.m1724 {
  width: 100px;
  height: 100px;
  background-position: -500px -1900px;
}

.sprite.m1725 {
  width: 100px;
  height: 100px;
  background-position: -600px -1900px;
}

.sprite.m1726 {
  width: 100px;
  height: 100px;
  background-position: -700px -1900px;
}

.sprite.m1727 {
  width: 100px;
  height: 100px;
  background-position: -800px -1900px;
}

.sprite.m1728 {
  width: 100px;
  height: 100px;
  background-position: -900px -1900px;
}

.sprite.m1729 {
  width: 100px;
  height: 100px;
  background-position: -1000px -1900px;
}

.sprite.m1730 {
  width: 100px;
  height: 100px;
  background-position: -1100px -1900px;
}

.sprite.m1731 {
  width: 100px;
  height: 100px;
  background-position: -1200px -1900px;
}

.sprite.m1732 {
  width: 100px;
  height: 100px;
  background-position: -1300px -1900px;
}

.sprite.m1733 {
  width: 100px;
  height: 100px;
  background-position: -1400px -1900px;
}

.sprite.m1734 {
  width: 100px;
  height: 100px;
  background-position: -1500px -1900px;
}

.sprite.m1821 {
  width: 100px;
  height: 100px;
  background-position: -1600px -1900px;
}

.sprite.m1822 {
  width: 100px;
  height: 100px;
  background-position: -1700px -1900px;
}

.sprite.m1823 {
  width: 100px;
  height: 100px;
  background-position: -1800px -1900px;
}

.sprite.m1824 {
  width: 100px;
  height: 100px;
  background-position: -1900px -1900px;
}

.sprite.m1825 {
  width: 100px;
  height: 100px;
  background-position: -2000px 0;
}

.sprite.m1826 {
  width: 100px;
  height: 100px;
  background-position: -2000px -100px;
}

.sprite.m1827 {
  width: 100px;
  height: 100px;
  background-position: -2000px -200px;
}

.sprite.m1848 {
  width: 100px;
  height: 100px;
  background-position: -2000px -300px;
}

.sprite.m1849 {
  width: 100px;
  height: 100px;
  background-position: -2000px -400px;
}

.sprite.m1850 {
  width: 100px;
  height: 100px;
  background-position: -2000px -500px;
}

.sprite.m1851 {
  width: 100px;
  height: 100px;
  background-position: -2000px -600px;
}

.sprite.m1852 {
  width: 100px;
  height: 100px;
  background-position: -2000px -700px;
}

.sprite.m1853 {
  width: 100px;
  height: 100px;
  background-position: -2000px -800px;
}

.sprite.m1854 {
  width: 100px;
  height: 100px;
  background-position: -2000px -900px;
}

.sprite.m1855 {
  width: 100px;
  height: 100px;
  background-position: -2000px -1000px;
}

.sprite.m1864 {
  width: 100px;
  height: 100px;
  background-position: -2000px -1100px;
}

.sprite.m1865 {
  width: 100px;
  height: 100px;
  background-position: -2000px -1200px;
}

.sprite.m1866 {
  width: 100px;
  height: 100px;
  background-position: -2000px -1300px;
}

.sprite.m1867 {
  width: 100px;
  height: 100px;
  background-position: -2000px -1400px;
}

.sprite.m1868 {
  width: 100px;
  height: 100px;
  background-position: -2000px -1500px;
}

.sprite.m1869 {
  width: 100px;
  height: 100px;
  background-position: -2000px -1600px;
}

.sprite.m1870 {
  width: 100px;
  height: 100px;
  background-position: -2000px -1700px;
}

.sprite.m1879 {
  width: 100px;
  height: 100px;
  background-position: -2000px -1800px;
}

.sprite.m1880 {
  width: 100px;
  height: 100px;
  background-position: -2000px -1900px;
}

.sprite.m1881 {
  width: 100px;
  height: 100px;
  background-position: 0 -2000px;
}

.sprite.m1882 {
  width: 100px;
  height: 100px;
  background-position: -100px -2000px;
}

.sprite.m1883 {
  width: 100px;
  height: 100px;
  background-position: -200px -2000px;
}

.sprite.m1884 {
  width: 100px;
  height: 100px;
  background-position: -300px -2000px;
}

.sprite.m1885 {
  width: 100px;
  height: 100px;
  background-position: -400px -2000px;
}

.sprite.m1886 {
  width: 100px;
  height: 100px;
  background-position: -500px -2000px;
}

.sprite.m1887 {
  width: 100px;
  height: 100px;
  background-position: -600px -2000px;
}

.sprite.m1888 {
  width: 100px;
  height: 100px;
  background-position: -700px -2000px;
}

.sprite.m1889 {
  width: 100px;
  height: 100px;
  background-position: -800px -2000px;
}

.sprite.m1890 {
  width: 100px;
  height: 100px;
  background-position: -900px -2000px;
}

.sprite.m1891 {
  width: 100px;
  height: 100px;
  background-position: -1000px -2000px;
}

.sprite.m1892 {
  width: 100px;
  height: 100px;
  background-position: -1100px -2000px;
}

.sprite.m1893 {
  width: 100px;
  height: 100px;
  background-position: -1200px -2000px;
}

.sprite.m1894 {
  width: 100px;
  height: 100px;
  background-position: -1300px -2000px;
}

.sprite.m1895 {
  width: 100px;
  height: 100px;
  background-position: -1400px -2000px;
}

.sprite.m1896 {
  width: 100px;
  height: 100px;
  background-position: -1500px -2000px;
}

.sprite.m1897 {
  width: 100px;
  height: 100px;
  background-position: -1600px -2000px;
}

.sprite.m1898 {
  width: 100px;
  height: 100px;
  background-position: -1700px -2000px;
}

.sprite.m1899 {
  width: 100px;
  height: 100px;
  background-position: -1800px -2000px;
}

.sprite.m1900 {
  width: 100px;
  height: 100px;
  background-position: -1900px -2000px;
}

.sprite.m1901 {
  width: 100px;
  height: 100px;
  background-position: -2000px -2000px;
}

.sprite.m1902 {
  width: 100px;
  height: 100px;
  background-position: -2100px 0;
}

.sprite.m1903 {
  width: 100px;
  height: 100px;
  background-position: -2100px -100px;
}

.sprite.m1904 {
  width: 100px;
  height: 100px;
  background-position: -2100px -200px;
}

.sprite.m1905 {
  width: 100px;
  height: 100px;
  background-position: -2100px -300px;
}

.sprite.m1906 {
  width: 100px;
  height: 100px;
  background-position: -2100px -400px;
}

.sprite.m1907 {
  width: 100px;
  height: 100px;
  background-position: -2100px -500px;
}

.sprite.m1908 {
  width: 100px;
  height: 100px;
  background-position: -2100px -600px;
}

.sprite.m1909 {
  width: 100px;
  height: 100px;
  background-position: -2100px -700px;
}

.sprite.m1910 {
  width: 100px;
  height: 100px;
  background-position: -2100px -800px;
}

.sprite.m1911 {
  width: 100px;
  height: 100px;
  background-position: -2100px -900px;
}

.sprite.m1912 {
  width: 100px;
  height: 100px;
  background-position: -2100px -1000px;
}

.sprite.m1916 {
  width: 100px;
  height: 100px;
  background-position: -2100px -1100px;
}

.sprite.m1917 {
  width: 100px;
  height: 100px;
  background-position: -2100px -1200px;
}

.sprite.m1918 {
  width: 100px;
  height: 100px;
  background-position: -2100px -1300px;
}

.sprite.m1919 {
  width: 100px;
  height: 100px;
  background-position: -2100px -1400px;
}

.sprite.m1920 {
  width: 100px;
  height: 100px;
  background-position: -2100px -1500px;
}

.sprite.m1921 {
  width: 100px;
  height: 100px;
  background-position: -2100px -1600px;
}

.sprite.m1922 {
  width: 100px;
  height: 100px;
  background-position: -2100px -1700px;
}

.sprite.m1923 {
  width: 100px;
  height: 100px;
  background-position: -2100px -1800px;
}

.sprite.m1934 {
  width: 100px;
  height: 100px;
  background-position: -2100px -1900px;
}

.sprite.m1935 {
  width: 100px;
  height: 100px;
  background-position: -2100px -2000px;
}

.sprite.m1936 {
  width: 100px;
  height: 100px;
  background-position: 0 -2100px;
}

.sprite.m1937 {
  width: 100px;
  height: 100px;
  background-position: -100px -2100px;
}

.sprite.m1938 {
  width: 100px;
  height: 100px;
  background-position: -200px -2100px;
}

.sprite.m1939 {
  width: 100px;
  height: 100px;
  background-position: -300px -2100px;
}

.sprite.m1940 {
  width: 100px;
  height: 100px;
  background-position: -400px -2100px;
}

.sprite.m1982 {
  width: 100px;
  height: 100px;
  background-position: -500px -2100px;
}

.sprite.m1983 {
  width: 100px;
  height: 100px;
  background-position: -600px -2100px;
}

.sprite.m1984 {
  width: 100px;
  height: 100px;
  background-position: -700px -2100px;
}

.sprite.m1985 {
  width: 100px;
  height: 100px;
  background-position: -800px -2100px;
}

.sprite.m1986 {
  width: 100px;
  height: 100px;
  background-position: -900px -2100px;
}

.sprite.m1987 {
  width: 100px;
  height: 100px;
  background-position: -1000px -2100px;
}

.sprite.m1988 {
  width: 100px;
  height: 100px;
  background-position: -1100px -2100px;
}

.sprite.m2005 {
  width: 100px;
  height: 100px;
  background-position: -1200px -2100px;
}

.sprite.m2006 {
  width: 100px;
  height: 100px;
  background-position: -1300px -2100px;
}

.sprite.m2007 {
  width: 100px;
  height: 100px;
  background-position: -1400px -2100px;
}

.sprite.m2008 {
  width: 100px;
  height: 100px;
  background-position: -1500px -2100px;
}

.sprite.m2009 {
  width: 100px;
  height: 100px;
  background-position: -1600px -2100px;
}

.sprite.m2010 {
  width: 100px;
  height: 100px;
  background-position: -1700px -2100px;
}

.sprite.m2011 {
  width: 100px;
  height: 100px;
  background-position: -1800px -2100px;
}

.sprite.m2012 {
  width: 100px;
  height: 100px;
  background-position: -1900px -2100px;
}

.sprite.m2013 {
  width: 100px;
  height: 100px;
  background-position: -2000px -2100px;
}

.sprite.m2014 {
  width: 100px;
  height: 100px;
  background-position: -2100px -2100px;
}

.sprite.m2015 {
  width: 100px;
  height: 100px;
  background-position: -2200px 0;
}

.sprite.m2016 {
  width: 100px;
  height: 100px;
  background-position: -2200px -100px;
}

.sprite.m2017 {
  width: 100px;
  height: 100px;
  background-position: -2200px -200px;
}

.sprite.m2018 {
  width: 100px;
  height: 100px;
  background-position: -2200px -300px;
}

.sprite.m2019 {
  width: 100px;
  height: 100px;
  background-position: -2200px -400px;
}

.sprite.m2022 {
  width: 100px;
  height: 100px;
  background-position: -2200px -500px;
}

.sprite.m2023 {
  width: 100px;
  height: 100px;
  background-position: -2200px -600px;
}

.sprite.m2024 {
  width: 100px;
  height: 100px;
  background-position: -2200px -700px;
}

.sprite.m2025 {
  width: 100px;
  height: 100px;
  background-position: -2200px -800px;
}

.sprite.m2026 {
  width: 100px;
  height: 100px;
  background-position: -2200px -900px;
}

.sprite.m2027 {
  width: 100px;
  height: 100px;
  background-position: -2200px -1000px;
}

.sprite.m2028 {
  width: 100px;
  height: 100px;
  background-position: -2200px -1100px;
}

.sprite.m2029 {
  width: 100px;
  height: 100px;
  background-position: -2200px -1200px;
}

.sprite.m2030 {
  width: 100px;
  height: 100px;
  background-position: -2200px -1300px;
}

.sprite.m2031 {
  width: 100px;
  height: 100px;
  background-position: -2200px -1400px;
}

.sprite.m2032 {
  width: 100px;
  height: 100px;
  background-position: -2200px -1500px;
}

.sprite.m2033 {
  width: 100px;
  height: 100px;
  background-position: -2200px -1600px;
}

.sprite.m2034 {
  width: 100px;
  height: 100px;
  background-position: -2200px -1700px;
}

.sprite.m2035 {
  width: 100px;
  height: 100px;
  background-position: -2200px -1800px;
}

.sprite.m2036 {
  width: 100px;
  height: 100px;
  background-position: -2200px -1900px;
}

.sprite.m2037 {
  width: 100px;
  height: 100px;
  background-position: -2200px -2000px;
}

.sprite.m2038 {
  width: 100px;
  height: 100px;
  background-position: -2200px -2100px;
}

.sprite.m2039 {
  width: 100px;
  height: 100px;
  background-position: 0 -2200px;
}

.sprite.m2040 {
  width: 100px;
  height: 100px;
  background-position: -100px -2200px;
}

.sprite.m2041 {
  width: 100px;
  height: 100px;
  background-position: -200px -2200px;
}

.sprite.m2042 {
  width: 100px;
  height: 100px;
  background-position: -300px -2200px;
}

.sprite.m2043 {
  width: 100px;
  height: 100px;
  background-position: -400px -2200px;
}

