@import "colors";

.set-item-statistics {
  /*background: red;*/
}

.curr-set-statistics {
  /*width: 60%;*/
}

.item-statistics table.summarize tr td {
  width: 12%;
  font-size: 10px;

  &.sel-boost-name {
    width: 27%;
    font-size: 12px;
    padding-right: 3px;
  }

  &.sel-icon {
    width: 0.1%;
  }

  &.lvl {
    border-left: 1px solid #aaa;
    padding: 0 3px;
  }

  &.lvl6 {
    font-weight: bold;
  }
}

.item-statistics {
  margin-top: 10px;
}

thead {
  background-color: #ddd;
}

thead tr th {
  text-align: center;

  &.lvl-head {
    text-align: right;
    padding-right: 3px;
  }
}

table {
  @include main_styles;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-bottom: 1px solid #aaa;

  &.summarize {
    width: 100%;
  }
}

tbody {
  border-right: 1px solid #aaa;
}

tr {
  &.selected {
    background-color: #c0f0f9;
    color: black;
  }

  &.filter-matched {
    font-weight: bold;
  }
}

tr.first-row {
  border-top: 1px solid #aaa;
  border-bottom: none;
}

td {
  cursor: pointer;
  text-align: center;
  opacity: 1;

  &.icon {
    width: 0.1%;
    padding: 3px;
    border-left: 1px solid #aaa;
  }

  &.sel-boost-name {
    text-align: left;
    padding-left: 5px;
    width: 50%;

    &.etc {
      border-left: 1px solid #aaa;
      padding-left: 10px;
    }
  }

  &.sel-icon {
    width: 0.1%;
    text-align: left;
    padding-left: 5px;
    border-right: none;
    border-left: 1px solid #aaa;
  }

  &.dummy-icon {
    width: 0.1%;
    padding: 0;
    margin: 0;
  }

  &.sel-lvl {
    width: 15%;
    text-align: right;
    font-weight: normal;

    &.lvl6 {
      font-weight: bold;
      width: 50px;
    }
  }

  &.boost-name {
    text-align: left;
    padding-left: 5px;
    width: 55%;
    border-left: 1px solid #aaa;
  }

  &.item-name, &.piece-name, &.core-name {
    font-weight: bold;
    padding-right: 3px;
  }

  &.game-event {
    font-weight: bold;
    padding: 0 3px;
  }

}
