@import "colors";

.scrollable-items-list {
  max-height: 100px;
  border: 1px solid #ddd;
  overflow-y: scroll;

  @media screen and (orientation: portrait) {
    max-height: 925px;
  }

  @media screen and (orientation: landscape) {
    max-height: 672px;
  }
}

.well {
  @include main_styles;
  background-image: none;
}


.cores-list-box {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.qualities-body {
  padding: 20px;
  width: auto;
}

#quality-select .modal-dialog {
  width: 417px;
  @include main_styles;
}


thead {
  border-bottom: 2px solid #aaa;
}

thead tr th {
  text-align: center;
  font-size: 11px;
  padding-top: 10px;
}

table {
  @include main_styles;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  /*border-bottom: 2px solid #6678b1;*/

  &.summarize {
    width: 100%;
  }
}

tr {
  @include main_styles;
  &.first-row td {
    border-top: 1px solid #ccc;
    /*border-top: 2px solid #6678b1;*/
    border-bottom: none;
  }
  &.selected {
    background-color: #c0f0f9;
    color: black;
  }
  &.mini {
    font-size: 12px;
  }
}

td {
  cursor: pointer;
  text-align: center;
  /*border-right: 1px solid #ccc;*/
  width: 11%;
  opacity: 1;

  &.icon {
    width: 0.1%;
  }

  &.sel-boost-name {
    text-align: left;
    padding-left: 5px;
    width: 50%;
  }
  &.sel-icon {
    width: 5%;
    text-align: left;
    padding-left: 3px;
    border-right: none;
    border-left: 2px solid #ccc;
  }
  &.sel-lvl {
    width: 15%;
    &.lvl6 {
      font-weight: bold;
    }
  }

  &.type-name {
    width: 4%;
  }
  &.slot-name {
    width: 5%;
  }
  &.boost-name {
    text-align: left;
    padding-left: 9px;
    width: 28%;
  }
  &.item-name, &.piece-name, &.core-name {
    text-align: left;
    padding-left: 9px;
    width: 20%;
  }
  &.core-slot {
    font-weight: bold;
    text-align: left;
    padding-left: 9px;
    width: 7%;
  }
  &.lvl6 {
    font-weight: bold;
  }
}
