@import "colors";

thead {
  background-color: #ddd;
}

thead tr th {
  text-align: center;
  font-size: 11px;
  /*padding-top: 10px;*/
}

table {
  @include main_styles;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-bottom: 1px solid #aaa;

  &.summarize {
    width: 100%;
  }
}

tbody {
  border-right: 1px solid #aaa;
}

tr {
  font-size: 12px;

  &.selected {
    background-color: #c0f0f9;
    color: black;
  }

  &.filter-matched {
    font-weight: bold;
  }
}

tr.first-row {
  border-top: 1px solid #aaa;
  border-bottom: none;
}

td {
  cursor: pointer;
  text-align: center;
  /*width: 11%;*/
  opacity: 1;

  &.icon {
    width: 0.1%;
    padding: 3px;
    border-left: 1px solid #aaa;
  }

  &.sel-boost-name {
    text-align: left;
    padding-left: 5px;
    width: 50%;

    &.etc {
      border-left: 1px solid #aaa;
      padding-left: 10px;
    }
  }

  &.sel-icon {
    width: 0.1%;
    text-align: left;
    padding-left: 5px;
    border-right: none;
    border-left: 1px solid #aaa;
  }

  &.dummy-icon {
    width: 0.1%;
    padding: 0;
    margin: 0;
  }

  &.sel-lvl {
    width: 15%;
    padding-right: 5px;
    text-align: right;
    font-weight: normal;

    &.lvl6 {
      font-weight: bold;
      /*background: azure;*/
      width: 50px;
    }
  }

  &.boost-name {
    text-align: left;
    padding-left: 5px;
    width: 55%;
    border-left: 1px solid #aaa;
  }

  &.item-name, &.piece-name, &.core-name {
    font-size: 14px;
    font-weight: bold;
  }

  &.game-event {
    font-weight: bold;
  }

}
